
$border-nav: 1px solid $gray-light;

header#navigation {
  border-top: 5px solid $blue;
  font-weight: lighter;

  .row { height: 110px; }

  @media #{$scrn-md} {
    background-image: url('/sites/all/themes/img/background/employment-header-image-left.jpg'), url('/sites/all/themes/img/background/employment-header-image-right.jpg');
    background-position: top left, top right;
    background-repeat: no-repeat no-repeat;
    background-size: auto, contain;
  }
  
}




