//
//MAIN HEADER & NAV
//

// Logo and Branding
#brand, 
.primary-nav, 
.secondary-nav { 
  height: 100%; 
}

#brand { 
  border-right: $border-dark;
  color: $white;
  overflow: hidden;
  padding: 10px;
  text-align: center;

  a { 
    @include bg-gradient-green-blue();
    display: inline-block;
    padding: 10px 5px;
    width: 90%;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  p {
    color: $green-dark;
    font-size: 11px; 
  }

  span { font-weight: 900; }
}

// Navigation
.primary-nav,
.secondary-nav {
  padding-left: 0;
  padding-right: 0;
}

.primary-nav > ul {
  height: 100%;
  width: 100%;
}

.primary-nav li {
  border-right: $border-dark;
  height: 100%;
  text-align: center;
  width: 25%;

  a {
    color: $green-dark;
    display: block;
    height: 100%;
    padding: 60px 0 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.active {
      background-color: $gray-light;
      color: $blue;
    }
    &.active {
      border-bottom: $border-dark;
      border-bottom-width: 3px;
    }
  }
}

.page-myhub .primary-nav li a[href="/myhub"],
.page-node-documents .primary-nav li a[href="/collaborate"],
.page-node-discussions .primary-nav li a[href="/collaborate"],
.node-type-conversation .primary-nav li a[href="/collaborate"],
.node-type-knowledge-object .primary-nav li a[href="/collaborate"],
.node-type-hub .primary-nav li a[href="/collaborate"]
 {
  background-color: $gray-light;
  color: $blue;
  border-bottom: $border-dark;
  border-bottom-width: 3px;
}

// Arrow for menu selection
.primary-nav li a.active:after,
.primary-nav li a:hover:after {
  // content: '';
  display: block;  
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  z-index: 10;
}

.primary-nav li a:hover:after {
  bottom: 0;
}

//Arrow color
.front {
  .primary-nav li a.active:after,
  .primary-nav li a:hover:after {
    border-bottom: 7px solid $white;
  }
}

.primary-nav li:first-child {
  width: 20%;
}

.primary-nav li:last-child {
  width: 30%;
}


//Secondary Navigation

.secondary-nav {
  border-right: $border-dark;
  height: 100%;
  text-align: center;

  a { 
    color: $green-dark;
    text-decoration: none;

    &:hover { color: $blue; }
  }
  
  .search {
     border-bottom: $border-dark;
     height: 50%;


    .input-group { 
      display: block; 
      position: relative;
      overflow: hidden;
    }

    .input-group-btn { display: none; }
  }

  #search-block-form {
    // height: 100%;
  }

  #edit-search-block-form--2 { 
    border: 0;
    background-image: url('/sites/all/themes/img/icons/magnifier-header-search.svg');
    background-position: 44px 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: $green-dark;
    height: 50%; 
    padding-top: 20px;
    position: relative;
    width: 100%;

    @media #{$scrn-md-min} { background-position: 70px 18px; }

    &::placeholder {
      color: $green-dark;
      text-align: center;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: transparent;
    }
    
    &:hover,
    &:focus {
      background-image: none;
    }
  }

  .nav-actions { 
    height: 50%; 
    text-transform: capitalize;
    a { cursor: pointer; }
  }

//User profile Dropdown
  .user-nav {
    padding: 0;

    a {
      color: $green-dark;
      font-weight: lighter;
    }  
    
    a:hover {
      background-color: $gray-light;
      color: $blue;
    }

    a::before {
      font-size: 16px;
      padding: 0 5px 0 2px;
      position: relative;
      top: 2px;
    }
  } // </.user-nav>
}


.region-nav-actions { height: 100%; }

.block-collabco-profile {
  height: 100%;
  padding: 12px 0;
}

#nav-profile-dropdown {
  display: inline-block;
  > div { float: left; }
}

#navigation-profile-details {
  top: 3px;
}

.user-picture { 
  margin-left: 8px;
  
  .img-responsive {
    border-radius: 50%;
    width: 25px;
  }  
}

.not-logged-in {
  .secondary-nav { border-left: $border-dark; }
  .nav-login {
    margin-top: 40px;
    a:hover { color: $white; }
  }
}


//
//My Hubs, Profile and Collaborate secondary Nav
//

// Links
#block-collabco-myhubs-myhub-links .nav,
#quicktabs-my_hub_collaborations .quicktabs-tabs, 
#block-quicktabs-my-hub-ideas .quicktabs-tabs,
.collaboration-tabs .nav {
  border: 0;
  margin-bottom: 0;
  margin-top: 30px;
  @media #{$scrn-md} {  margin: 0; }

  li { 
    height: 72px;
    text-align: center; 
    width: 25%;
    @media #{$scrn-md} { width: auto; } 

    &:last-child { border-right: $border-dark; }

    a { 
      border: $border-dark;
      border-radius: 0;
      border-width: 1px 0 0 1px;
      color: $gray-dark;
      font-size: 12px;
      height: 100%;
      margin-right: 0;
      position: relative;
      text-decoration: none; 
      text-transform: uppercase;
      transition: all ease .3s;
      padding: 41px 0 12px; 

      @media #{$scrn-md} { padding: 41px 20px 12px; }
    }
    
    a:before {
      font-family: 'outlined-iconset';
      font-style: normal !important;
      font-variant: normal !important;
      font-weight: normal !important;
      left: 0;
      line-height: 1;
      margin: 0 auto; 
      position: absolute;
      right: 0;
      top: 14px;
      speak: none;
      text-transform: none !important;
    }



    a:before { font-size: 20px; }

    a:hover,
    a:active {
      background-color: $gray-light;
      border-width: 1px 0 0 1px;
      color: $blue;
    }
  }

}


.collaboration-tabs .nav li { 
  width: (100%/3);
  @media #{$scrn-md} { width: auto; } 
}


#block-collabco-myhubs-myhub-links .nav,
.collaboration-tabs .nav {
  li.active a,
  li a.active:hover,
  li a:active {
    background-color: $gray-light;
    border-width: 1px 0 0 1px;
    border-bottom: $border-blue;
    border-bottom-width: 3px;
    color: $blue;
  }
}

// My hub icons
#block-collabco-myhubs-myhub-links .nav, 
#block-quicktabs-my-hub-ideas .quicktabs-tabs { 

  li.ui-menu-myhub-updates a:before { content: '\e07c'; }
  li.ui-menu-myhub-ideas a:before { content: '\e068'; }
  li.ui-menu-myhub-collaboration a:before { content: '\e095'; }
  li.ui-menu-myhub-profile a:before { content: '\e06c'; }
}

// Collaborate icons
.collaboration-tabs {

  li.ui-menu-collaboration-info a:before{ content: '\e064';  }
  li.ui-menu-collaboration-discussion a:before{ content: '\e029';  }
  li.ui-menu-collaboration-documents a:before{ content: '\e036';  }
}
  


#block-collabco-myhubs-myhub-links {
  border-bottom: $border-dark;
  margin: 10px 0;

  @media #{$scrn-md} { 
    .nav { float: right; } 
  } 
}  

// TWEAKS for PROFILE page
.page-user #block-collabco-myhubs-myhub-links.profile-menu {
  li.ui-menu-myhub-profile a {
    border-bottom: $border-blue;
    border-bottom-width: 3px;
    color: $blue;
  }
}  

//Secondary links
#quicktabs-my_hub_collaborations .quicktabs-tabs,
#block-quicktabs-my-hub-ideas .quicktabs-tabs {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;


  li a {
    border: 0;
    display: inline-block;
    font-size: 12px;
    padding: 30px 10px 4px;
  }

  a:hover, 
  li.active a {
    color: $blue;   
  }

  li.active a {
    border-bottom: $border-blue;
    border-bottom-width: 3px;
  }   

  li a:before {
    font-size: 15px;
    top: -5;
  }

  a#quicktabs-tab-my_hub_collaborations-0:before,
  a#quicktabs-tab-my_hub_ideas-0:before {
    content: '\e02d';
  }
  
  a#quicktabs-tab-my_hub_collaborations-1:before,
  a#quicktabs-tab-my_hub_ideas-1:before {
    content: '\e03f';
    font-size: 20px;
    top: 9px;
  }

  a#quicktabs-tab-my_hub_collaborations-2:before,
  a#quicktabs-tab-my_hub_ideas-2:before {
    content: '\e035';
  }

}  

//NAV TABS OVERRIDE DEFAULT
.nav-tabs {
  li {
    margin: 0;
  }

  li a { 
    border: 0;
    color: $green-dark;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      border-radius: 0;
    }
  }

  li.active a {
    background-color: $gray-light;
    border: 0;
    border-radius: 0;
    color: $blue;

    &:hover,
    &:focus {
      background-color: $gray-light;
      border: 0;
      border-radius: 0;
      color: $blue;

    }
  }


}
