.sidebar-2 {
  margin-bottom: 15px;
  margin-top: 15px;

  @media #{$scrn-md} {
    margin-bottom: 30px;
    margin-top: 0;
  }



  .region-sidebar-second {  
    background-color: $gray-light;
    border: $border-dark;
    padding: 35px 25px;
  }

  h2 {
    border-bottom: 1px solid $gray-dark;
    color: $purple;
    display: block;
    font-size: 18px;
    margin-top: 15px;
    padding-bottom: 7px;
    text-transform: uppercase;

    &:first-child {
      // margin-top: 0;
    }
  }

  .sidebar-stats { display: block; }

  //navtabs links sidebar
  .nav-tabs { border-bottom: 0; }

  .nav-tabs li {
    margin:  0 0 10px;
    width: 100%; 

   &.last {
      margin-bottom: 0;
    } 

    a {
      color: $gray-dark;
      padding: 0;

      &:hover {
        background: none;
        color: $green-lime;
      }
    }
  }

  // Promote to collaboration block on idae single page and co-lab links
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a { 
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $green-lime;
    }
  }  

  .nav > li > a:focus { background-color: transparent; }

  .nav-tabs li,
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a,
  .item { 
    padding: 14px 12px 9px;
  }
    
  .stat,
  .nav-tabs li,
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a,
  .item {
    background-color: $white;
    border: 1px solid $gray-plank;
    color: $gray-dark;
    font-size: 14px;
    text-transform: uppercase;
  }


  #block-collabco-idea-collaborations a { 

  }

  .stat {
    margin: 10px 0;

    > div {
      display: block;
      float: left;
      height: 100%;
   }
    
    .value {
      border-right: 1px solid $gray-plank;
      padding: 14px 0 10px;
      text-align: center;    
      width: 20%;
    }

    &.share .stat-label,
    &.mail .stat-label { width: 100%; }

    a { 
      color: $gray-dark;
      text-decoration: none;
      
      &:hover { 
        color: $green-lime;
        text-decoration: underline;
      } 
    }
    .stat-label > a,
    > a {
      display: inline-block;
    }

    .stat-label {
      padding: 14px 12px 6px;
      width: 80%;

      .flag-wrapper, p { 
        display: inline; 
        float: left; 
        margin: 0;
      }

      .flagged,
      .unflag-action {
        color: $green-lime;
      }

      a[class^="icon-"],
      a[class*=" icon-"] { 
        position: relative;
        top: -1px;
        float: right;
        font-size: 18px;
        padding: 0;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }

        &.icon-full {
          color: $green-lime;
        }
      } 
    }

  } // </.stat>

  .team {
  
    .user-picture {
      display: inline-block;

      .img-responsive {
        display: inline-block;
        height: 48px;
        width: 48px;
      }
    }

    .username {
      color: $green-dark;
      margin-left: 15px;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
    }  
  } // </.team>
  
  .add-team-member a { 
    @include btn-white();
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }

  #block-collabco-idea-collaborations {
    .view-header { 
      text-align: left;
      padding: 0;
    }
  }


} //</sidebar-2>


//Sidebar top
#block-collabco-idea-promote,
#block-collabco-collaboration-edit-collaboration {
  
  .btn-actions{
    list-style-type: none;
    padding: 6px 20px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    
    @media #{$scrn-md} { margin-top: 0 }

    li {
      margin-bottom: 6px;
      width: 100%;

      &:last-child { margin-bottom: 0; }
    }

    li a { 
      @include btn-white();
      text-decoration: none;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;

      &:before { 
        position: relative;
        margin-right: 10px;
        top: 2px;
      }
    }

    li a.icon-beaker { padding: 8px 20px; }

    li a.icon-beaker:before{ 
      font-size: 18px;
      margin-right: 6px;
      right: 2px;
      top: 2px;
    }
  }
}

