.front {

  //  Content top block NOT logged
  &.not-logged-in .content-top {
    @include bg-gradient-green-blue-op-9('/sites/all/themes/img/background/home-triangle-pattern.png',
      '/sites/all/themes/img/background/home-desk.jpg');
    background-position: bottom left, 0 0, 0 0;
    background-size: auto, auto, cover;
    padding: 100px 0;
    text-align: center;
    h3 { font-size: 36px; font-weight: bold; }
    span { font-weight: 100; }
  }

  &.not-logged-in .main-container .container { height: 0; }
  
  // Content top block logged

  &.logged-in .content-top {
    background-color: $white;
    color: $gray-dark;
    padding: 60px 0;
    
    img { margin: 0 5px; }

    span { font-weight: bold; }
    #header-home-title { margin-bottom: 55px; }
    p { 
      font-size: 36px; 
      line-height: 1; 
      margin: 10px 0; 
      padding: 0 110px;
    }

    i { 
      height: 42px;
      width: 30px; 
    }

    .links {

      a {
        display: block;
        font-family: $cgrace;
        font-size: 30px;
        height: 80px;
        padding-top: 45px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        &:before {
          font-size: 27px;
          left: 0;
          margin: 0 auto; 
          position: absolute;
          right: 0;
          top: -10px;
            
        }
      }

      .create {
        a { color: $purple; }
      }

      .explore {
        a { color: $green-dark; }
      }

      .understand {
        a { color: $orange; }
        a:before {
          font-family: $cgrace;
          font-size: 35px; 
        }
      }
    } // </.links>
    
    .img-responsive { display: inline-block; }
  }  // </logged-in .content-top>
  
  .main-container { padding: 0; }

  // Open challenges card
  .card article .img-icon { @include bg-gradient-blue-purple(); color: $white; }

  // Content upper - open challenges
  .content-upper {
    @include bg-gradient-blue-purple-op('/sites/all/themes/img/background/triangle-top-right-cut.png', '', .9);
    background-position: top right,  0 0 , 0 0;
    background-size: contain, auto, auto;
    color: $white;
    padding: 50px 0;
    
    .view-header { 
      padding-bottom: 10px; 
      padding-top: 0;
    }

    .more-link a{
      @include btn-purple();
      color: $white;
      border-color: $white;
    }
  }  

  .full-width-bottom {
    overflow-x: scroll;

    .diamond-image {
      text-align: center;
    }
    
    @media #{$scrn-md} {
      img { max-width: 100% ; }
    } 
  }

}

