
@mixin bg-gradient-default() {
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
}

@mixin bg-gradient-green-blue($img-pattern: '' , $img-bg: '') {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(53, 145, 137, 1) 0%, rgba(30, 61, 107, 1) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-green-blue-op($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(53, 145, 137, $op) 0%, rgba(30, 61, 107, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-green-blue-op-9($img-pattern: '' , $img-bg: '') {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(53, 145, 137, .9) 0%, rgba(30, 61, 107, .9) 100%), url($img-bg);
  @include bg-gradient-default();
}

//Region backgrounds

@mixin bg-gradient-white-gray($img-pattern: '' , $img-bg: '') {
  background: url($img-pattern), linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-purple-pink($img-pattern: '' , $img-bg: '') {
  background: url($img-pattern), linear-gradient(135deg, rgba(125, 23, 77, 1) 0%, rgba(192, 85, 210, 1) 100%) , url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-purple-pink-op($img-pattern: '' , $img-bg: '', $op: 1) {
  background: url($img-pattern), linear-gradient(135deg, rgba(125, 23, 77, $op) 0%, rgba(192, 85, 210, $op) 100%) , url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-blue-purple($img-pattern: '' , $img-bg: '') {
  background: url($img-pattern), linear-gradient(135deg, rgba(37, 32, 90, 1) 0%, rgba(180, 115, 190, 1) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-blue-purple-op($img-pattern: '' , $img-bg: '', $op: 1) {
  background: url($img-pattern), linear-gradient(135deg, rgba(37, 32, 90, $op) 0%, rgba(180, 115, 190, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-blue-purple-op-9($img-pattern: '' , $img-bg: '') {
  background: url($img-pattern), linear-gradient(135deg, rgba(37, 32, 90, .9) 0%, rgba(180, 115, 190, .9) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-pink-orange($img-pattern: '' , $img-bg: '', $op: 1) {
  background: url($img-pattern), linear-gradient(135deg, rgba(192, 85, 210, $op) 0%, rgba(226, 119, 27, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-pink-orange-op($img-pattern: '' , $img-bg: '', $op: 1) {
  background: url($img-pattern), linear-gradient(135deg, rgba(192, 85, 210, $op) 0%, rgba(226, 119, 27, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}






