@mixin content-top() {
  color: $white;
  position: relative;
  text-align: center;

  i { font-size: 20px; }

  h2 {
    font-size: 48px;
    margin-top: 0;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }

  .stats {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .stat {
    float: left;
    margin-right: 23px;

    &:last-child { margin: 0; }

    &:before {
      position: relative;
      height: 16px;
      top: 3px;
      right: 5px;
      width: 16px;
    }

  }

  @media only screen and (min-width : $screen-sm) {
    h2 { padding: 0 120px; }
    p { padding: 0 135px; }
  }
}

.content-top { @include content-top(); }

.full-width-top {

  @media only screen and (min-width : $screen-sm) {
    h2 { padding: 0 120px; }
    p { padding: 0 135px; }
  }

  .header-image-bg {
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -999;
  }
}


@mixin title-1-block() {
  padding: 80px 0;

  i { font-size: 40px; }

  h2 {
    font-family: $primary-font;
    font-size: 36px;
    font-weight: normal;
    margin: 10px 0 20px;
    text-transform: uppercase;
  }

  p {
    font-family: $primary-font;
    font-size: 18px;
    margin-bottom: 50px;
  }
}
