/* === GLOBAL BREADCRUMBS === */

.breadcrumb-container {
  color: $primary-color;
  overflow: hidden;

  a {
    color: $secondary-color;
    text-decoration: none;

    &:hover { color: $primary-color; }
  }

  .breadcrumb {
    display: inline-block;
    font-size: 13px;
    margin-bottom: .8em;
    padding: 0;
  }

  .breadcrumb > li + li:before {
    color: $primary-color;
  }
}


