// Breadcrumbs

.breadcrumb-container {
  color: $purple;
  overflow: hidden;

  a {
    color: $pink;
    text-decoration: none;
    
    &:hover { color: $purple; }
  }

  .breadcrumb {
    background: transparent;
    display: inline-block;
    font-size: 13px;
    margin-bottom: .8em;
    padding: 0;
  }

  .breadcrumb > li + li:before {
    color: $purple;
  }
}


