
%btn-custom {
  background-color: transparent;
  text-transform: uppercase;
  transition: all ease .3s;
}

// @mixin btn-white() { 
//   @extend %btn-custom;
//   border: 1px solid $green-dark;
//   color: $green-dark;

//   &:hover {
//     background-color: $green-dark;
//     color: $white;
//   }
// }

@mixin btn-purple() { 
  @extend %btn-custom;
  border: 1px solid $purple;
  color: $purple;

  &:hover {
    background-color: $purple;
    color: $white;
  }
}

// @mixin btn-orange() { 
//   @extend %btn-custom;
//   border: 1px solid $orange;
//   color: $orange;
  
//   &:hover {
//     background-color: $orange;
//     color: $white;
    
//   }
// }

// @mixin btn-purple() { 
//   @extend %btn-custom;
//   border: 1px solid $purple;
//   color: $purple;
  
//   &:hover {
//     background-color: $purple;
//     color: $white;
    
//   }
// }

// @mixin btn-green() { 
//   @extend %btn-custom;
//   background-color: $white;
//   border: 1px solid $green-dark;
//   color: $green-dark;

//   &:hover {
//     background-color: $green-dark;
//     color: $white;
//   }

// }

// .btn-green {
//   @include btn-green();
//   display: inline-block;
//   text-decoration: none;
// }

// .btn-purple {
//   @include btn-purple();
//   display: inline-block;
//   margin-top: 50px;
//   text-decoration: none;
// }

.create-idea-btn { display: inline-block; }

// .btn-white { 
//   @include btn-white();
//   display: inline-block;
//   text-decoration: none;
// }

.status .open {
  background-color: $green-dark;
  color: $white;
  padding: 4px;
}


// .button.browse,
// .button.edit {
//   @include btn-white();
// }


// #edit-delete,
// #edit-submit--3,
// #edit-cancel { 
//   height: 41px;
//   line-height: 20px;
//   display: inline-block;
// }

// Default values from bootsrap for button drupal class 
@mixin button-default() {

  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.button { @include button-default(); }




//Bootstrap buttons override

.btn { 
  text-transform: uppercase; 
  text-decoration: none; 
  transition: background-color .3s ease-in, color .4s ease-in;

  &.active {
    background-color: $btn-default-color;
    color: $white;
  }

  &.bg-white { background-color: $white; }
}

  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 0;
  }


.btn-default:hover {
  color: $white;
  background-color: $brand-success;
}

.more-link { text-align: center; }

.more-link a {
  @include button-default();
  display: inline-block;
  color: $brand-success;
  border-color: $secondary-color;
  background-color: $white;
  text-transform: uppercase;
  transition: .5s all ease;

  &:hover {
  color: $white;
  background-color: $brand-success;
}
}
