/* === LARGE AND SMALL CARDS (CHALLENGE, COLLABORATION AND IDEAS) === */

//Common between info card-large and card-small

.card.large,
.card.small {

  .feat-img img { display: none; }

  /*** Content ***/
  .title a {
    color: $gray-darker;
    display: inline-block;
    line-height: 1;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;

    &:hover { text-decoration: underline; }
  }

  .img-icon { font-size: 20px; }

  .content {
    position: relative;
    overflow: hidden;

    p { color: $gray-dark; }
  }

  /*** Footer Links ***/
  footer {
    border-top: 1px solid $gray-chromium;
    overflow: hidden;
    color: $gray-dark;
    width: 100%;

    > div {
      border-right: 1px solid $gray-chromium;
      float: left;
      padding: 15px 0;
      text-align: center;
      width: 33.33333%;
      cursor: pointer;
    }

    > div:last-child { border: 0; }

    p,
    a {
      font-size: 12px;
      text-transform: uppercase;
    }

    a {
      color: $gray-dark;
      text-decoration: none;

      &.flagged,
      &:active,
      &:hover {
        color: $secondary-color;
      }
    }

    a[class^="icon-"] {
      font-size: 16px;
      position: relative;
      right: 4px;
      top: 3px;
    }

    .flag-wrapper { display: block; }
  } // </footer>

}

/* === LARGE CARDS === */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card.large {
    flex: 1;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    position: relative;
    background-color: $white;
    border: $border-dark;
    min-width: 290px;

    @media only screen and (min-width : 640px) {
      max-width: 320px;
    }

    article {

      /** Header Featured Image **/
      .feat-img {
        position: relative;
        height: 165px;

        a {
          height: 100%;
          background-size: cover;
          width: 100%;
          display: block;
        }
      }

      .img-icon {
        padding: 6px 8px 4px;
        position: absolute;
      }

      /*** BEAKER ICON POSITION ***/
      &.collaborations .img-icon {
        font-size: 25px;
        padding: 2px 6px 4px 5px;
      }

      &.challenges.closed {
        footer > div {
          width: 50%;
        }
      }

      /*** Remaining Days Ribbon ***/
      .remaining-days {
        background-color: $ribbon-color;
        bottom: 0;
        color: $white;
        display: inline-block;
        font-size: 12px;
        padding: 8px;
        position: absolute;
        right: 0;
        text-transform: uppercase;

        &.icon-watch:before {
          font-size: 16px;
          position: relative;
          top: 3px;
        }
      }

      /*** Content ***/
      .content {
        padding: 45px 20px 25px;
        margin-bottom: 74px;
      }

      .title a { font-size: 30px; }

      /*** Footer Links ***/
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      } // </footer>

    }// </.article>

  }// </.card.large>
}// </.cards>


/* === SMALL CARDS === */

.slideshow {
  &.card {
    float: left;
    width: 20%;
    padding-right: 1px;
  }
}

.card.small {

  article {
    background-color: $white;
  }

 .feat-img {
   background-repeat: no-repeat;
   background-size: cover;
   height: 97px;
   position: relative;
   overflow: hidden;
 }

  .img-icon {
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
  }

  .content {
    padding: 22px 13px 12px 15px;
    height: 106px;
    max-height: 106px;
  }

  .title a {
    font-size: 18px;
    margin-bottom: 4px;
  }

  footer {

    > div { padding: 10px; }

     /*** ICON POSITION ***/
    a:before {
        font-size: 16px;
        position: relative;
        right: -3px;
        top: 2px;
      }

    /*** Hide footer text and throbber ***/
    .flag-throbber, .flag { display: none; }
  }
}
