/* === MY HUB --> UPDATES TAB CARDS === */

.card-updates {
  margin: 40px 0;

  i { font-size: 40px; }
  
  a { 
    color: $card-updates-primary-color;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  .icon { 
    text-align: left;

    @media only screen and (min-width : $screen-sm) { 
      padding: 0;
      text-align: right;
    }
  }

  .content {
    padding-top: 10px;
    padding-bottom: 10px;

  /*** Title/Resume text ***/

    .title {
      margin: 5px 0 0;
      font-size: 18px;
      
      a { 
        color: $card-updates-tertiary-color;
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }
    }

    .resume {
      color: $card-updates-secondary-color;
      margin: 0;
      font-size: 18px;
    }
  }
  
  .desc { 
    padding: 10px 5px 0 0;
    display: inline-block;
  }
  
  .time-elapsed { font-weight: bold; }

  /*** Author name and image ***/
  
  .author {
    padding: 12px 0;

    .user-picture { float: left; }

    .img-responsive { 
      height: 48px;
      width: 48px;
    }

    a { 
      display: inline-block;
      margin: 10px 5px;
      font-weight: bold;
      text-decoration: none;
    }
  }
 
  /*** Update with image ***/ 
  .feat-img, 
  .info {
    margin-top: 10px;
  }

  .feat-img {
    height: 100px;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 185px;

    @media only screen and (min-width : $screen-sm) { float: left; }

    img { 
      min-height: 100%;
      width: 100%;
    }

    i {
      color: $white;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px; 
      padding: 6px 8px 2px;

      &.idea { @include bg-gradient-ideas(); }

      &.project,
      &.collaboration { 
        @include bg-gradient-collaboration();
      }
    }
  }

  .info { 
    width: auto;
    
    @media only screen and (min-width : $screen-sm) {
      margin-left: 200px;
    }
    
    /*** Update without image ***/
    &.no-image {
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }
    
    .desc {
      font-size: 16px;
      padding: 0;
      line-height: 1.2;
      margin: 5px 0;
    }
  }  
  
}

/*** UPDATES CARD SEPARATOR ***/

.separator-updates {
  background-color: $gray-dark;
  height: 1px;
  margin: 0 auto;
  width: 50%;
}

