//
// Large Card, Small Card, Full Width and Update Card classes
// --------------------------------------------------

.card {
  margin-bottom: 30px;

  img {
    height: auto;
    width: 100%;
  }

// Article
  article {
    background-color: $white;
    position: relative;
    border: $border-dark;

    .feat-img { 
      position: relative;
      height: 165px;
      overflow: hidden;
    }

    .img-icon {
      font-size: pxtoem(20px);
    }

    .remaining-days {
      background-color: $red;
      bottom: 0;
      color: $white;
      display: inline-block;
      font-size: pxtoem(12px);
      padding: 8px;
      position: absolute;
      right: 0;
      text-transform: uppercase;
    }

    span.remaining-days { font-weight: bold; }

    .remaining-days:before {
      font-size: 16px;
      position: relative;
      top: 3px;
    }

    .content { 
      height: auto;
      padding: 45px 20px 25px; 
      position: relative;
      
      p { color: $gray-dark; }
    }

    .title a { 
      color: $gray-darker;
      display: inline-block;
      font-family: $lato;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 20px;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }

    // Cockade and Tag
    .cockade {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: auto;
      height: 60px;
      left: 5px;
      position: absolute;
      top: -25px;
      width: 52px;
      z-index: 999;
    }

    .tick {
      background-image: url('/sites/all/themes/img/card/cockade-green.png');
      &:hover {
        background-image: url('/sites/all/themes/img/card/cockade-green-hover.png');
      }  
    }

    .todolist {
      background-image: url('/sites/all/themes/img/card/cockade-todolist.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-todolist-hover.png'); }  
    }

    .tool {
      background-image: url('/sites/all/themes/img/card/cockade-tool.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-tool-hover.png'); }  
    }

    .sinth {
      background-image: url('/sites/all/themes/img/card/cockade-sinth.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-sinth-hover.png'); }  
    }
    
    .paper-pencil {
      background-image: url('/sites/all/themes/img/card/cockade-paper-pencil.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-paper-pencil-hover.png'); }  
    }

    .parked {
      background-image: url('/sites/all/themes/img/card/cockade-parked.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-parked-hover.png'); }  
    }

    .tag {
      color: $white;
      display: inline-block;
      font-family: $lato;
      font-size: 12px;
      padding: 5px 0;
      position: absolute;
      
      top: -14px;
      
      text-transform: uppercase;
      transition: all ease 1s;
      max-width: 0;
      max-height: 30px;
      overflow: hidden;
    }
    
    .green { background-color: $green-lime; }
    .green-dark { background-color: $green-dark; }
    .orange { background-color: $orange; }
    .blue { background-color: $blue; }
    .purple { background-color: $blue; }
  } // </article>


  footer {
    border-top: 1px solid $gray-chromium;
    overflow: hidden;
    color: $gray-dark; 

    > div {
      border-right: 1px solid $gray-chromium;
      float: left;
      padding: 15px 0;
      text-align: center;
      width: 33%;
      cursor: pointer;
    }

    > div:last-child { border: 0; }

    p,
    a { 
      font-size: 12px;
      text-transform: uppercase;
    }
    
    a {  
      color: $gray-dark;
      text-decoration: none;

      &.flagged,
      &:active,
      &:hover {
        color: $green-light;
      }
    }

    a[class^="icon-"] {
      font-size: pxtoem(16px);
      position: relative;
      right: 4px;
      top: 3px;
    }

    .flag-wrapper { display: block; }
  } // End of footer
  
  // Open challenges card
  &.challenges .img-icon { 
    @include bg-gradient-blue-purple(); 
    color: $white;
  }


} // </card>


//Large Card
.card.large {
  
  .img-icon { 
    padding: 6px 8px 4px;  
    position: absolute;
  }

  &.collaborations .img-icon {
    font-size: 25px;
    padding: 2px 6px 4px 5px;
  }

  &.challenges {
    footer > div { 
      width: 50%;
    } 
  }

  //Only one card center element
  &.total-items-1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  //Center 2 cards elements
  &.total-items-2:first-child {
    @media #{$scrn-md-min} { margin-left: 16.66667%; }
  }

}  //</.large.card>


//SMALL CARD

.card.small {
  padding-right: 1px;
  
 .feat-img { 
   background-repeat: no-repeat;
   background-size: cover;
   height: 97px;
 }

  .img-icon {
    color: $white;
    font-size: 20px; 
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
  }
  
  .content {
    overflow: hidden;
    padding: 22px 13px 12px 15px;
    height: 106px;

    .title a { 
      display: block;
      font-size: 18px;
      margin-bottom: 4px;
    }

    p { 
      font-size: 13px; 
      line-height: 16px;
      padding-top: 4px;
    }
  }
  
 footer {
  
   > div { padding: 10px; }

   //Icon position
   a:before {
      font-size: 16px;
      position: relative;
      right: -3px;
      top: 2px;
    }
  }

  //Hide footer text and throbber
  .flag-throbber, .flag { display: none; }
  
  @media (min-width: $screen-sm-min) {  width: 217px; }

} // </.small.card>  




