/* === LARGE AND SMALL CARDS (CHALLENGE, COLLABORATION AND IDEAS) === */

.card {
  margin-bottom: 30px;

  img {
    height: auto;
    width: 100%;
  }

  article {
    background-color: $white;
    position: relative;
    border: $border-dark;

    .feat-img { 
      position: relative;
      height: 165px;
      overflow: hidden;
    }

    .img-icon {
      font-size: pxtoem(20px);
    }

    /*** Remaining Days Ribbon ***/

    .remaining-days {
      background-color: $ribbon-color;
      bottom: 0;
      color: $white;
      display: inline-block;
      font-size: 12px;
      padding: 8px;
      position: absolute;
      right: 0;
      text-transform: uppercase;
    }

    span.remaining-days { font-weight: bold; }

    .remaining-days:before {
      font-size: 16px;
      position: relative;
      top: 3px;
    }

    /*** Content ***/

    .title a { 
      color: $gray-darker;
      display: inline-block;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 20px;
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }

    .content { 
      height: auto;
      padding: 45px 20px 25px; 
      position: relative;
      
      p { color: $gray-dark; }
    }

  } 

  /*** Footer Links ***/

  footer {
    border-top: 1px solid $gray-chromium;
    overflow: hidden;
    color: $gray-dark; 

    > div {
      border-right: 1px solid $gray-chromium;
      float: left;
      padding: 15px 0;
      text-align: center;
      width: 33%;
      cursor: pointer;
    }

    > div:last-child { border: 0; }

    p,
    a { 
      font-size: 12px;
      text-transform: uppercase;
    }
    
    a {  
      color: $gray-dark;
      text-decoration: none;

      &.flagged,
      &:active,
      &:hover {
        color: $secondary-color;
      }
    }

    a[class^="icon-"] {
      font-size: 16px;
      position: relative;
      right: 4px;
      top: 3px;
    }

    .flag-wrapper { display: block; }
  } 


} 

/* === LARGE CARDS === */

.card.large {
  
  .img-icon { 
    padding: 6px 8px 4px;  
    position: absolute;
  }

  /*** BEAKER ICON POSITION ***/
  &.collaborations .img-icon {
    font-size: 25px;
    padding: 2px 6px 4px 5px;
  }

  &.challenges.closed {
    footer > div { 
      width: 50%;
    } 
  }

  /*** Center element when there is only one card **/

  &.total-items-1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

   /*** Center element when there is two cards **/

  &.total-items-2:first-child {
    @media only screen and (min-width : $screen-md) { margin-left: 16.66667%; }
  }

} 

/* === SMALL CARDS === */

.card.small {
  padding-right: 1px;
  
 .feat-img { 
   background-repeat: no-repeat;
   background-size: cover;
   height: 97px;
 }

  .img-icon {
    color: $white;
    font-size: 20px; 
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
  }
  
  .content {
    overflow: hidden;
    padding: 22px 13px 12px 15px;
    height: 106px;

    .title a { 
      display: block;
      font-size: 18px;
      margin-bottom: 4px;
    }

    p { 
      font-size: 13px; 
      line-height: 16px;
      padding-top: 4px;
    }
  }
  
 footer {
  
   > div { padding: 10px; }

   /*** ICON POSITION ***/
   a:before {
      font-size: 16px;
      position: relative;
      right: -3px;
      top: 2px;
    }
    
  }

  /*** Hide footer text and throbber ***/
  .flag-throbber, .flag { display: none; }
  
  @media (min-width: $screen-sm-min) {  width: 217px; }

}


