//
// Custom icons
// --------------------------------------------------


@charset "UTF-8";

@font-face {
  font-family: 'outlined-iconset';
  src:url('../assets/fonts/outlined-iconset.eot');
  src:url('../assets/fonts/outlined-iconset.eot?#iefix') format('embedded-opentype'), 
    url('../assets/fonts/outlined-iconset.woff') format('woff'), 
    url('../assets/fonts/outlined-iconset.ttf') format('truetype'), 
    url('../assets/fonts/outlined-iconset.svg#outlined-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-style (){
  font-family: 'outlined-iconset' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  font-family: "outlined-iconset" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "outlined-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e093";
}
.icon-parking:before {
  content: "\e094";
}
.icon-eye:before {
  content: "\e095";
}
.icon-eye-full:before {
  content: "\e096";
}
.icon-hamburguer:before {
  content: "\e097";
}
.icon-list:before {
  content: "\e098";
}
.icon-dialogue:before {
  content: "\e099";
}
.icon-dialogue-full:before {
  content: "\e09a";
}
.icon-heart:before {
  content: "\e09b";
}
.icon-heart-full:before {
  content: "\e09c";
}
.icon-share:before {
  content: "\e09d";
}
.icon-share-full:before {
  content: "\e09e";
}
.icon-star-full:before {
  content: "\e09f";
}
.icon-accelerator:before {
  content: "\e000";
}
.icon-add-folder:before {
  content: "\e001";
}
.icon-agenda:before {
  content: "\e002";
}
.icon-alarm-clock:before {
  content: "\e003";
}
.icon-arrow-down:before {
  content: "\e004";
}
.icon-arrow-left:before {
  content: "\e005";
}
.icon-arrow-right:before {
  content: "\e006";
}
.icon-arrow-up:before {
  content: "\e007";
}
.icon-battery-1:before {
  content: "\e008";
}
.icon-battery-2:before {
  content: "\e009";
}
.icon-battery-3:before {
  content: "\e00a";
}
.icon-battery-4:before {
  content: "\e00b";
}
.icon-blackboard-graph:before {
  content: "\e00c";
}
.icon-boat:before {
  content: "\e00d";
}
.icon-booknote:before {
  content: "\e00e";
}
.icon-booknote-add:before {
  content: "\e00f";
}
.icon-booknote-remove:before {
  content: "\e010";
}
.icon-calendar:before {
  content: "\e011";
}
.icon-camera-1:before {
  content: "\e012";
}
.icon-camera-2:before {
  content: "\e013";
}
.icon-case:before {
  content: "\e014";
}
.icon-case-2:before {
  content: "\e015";
}
.icon-cd:before {
  content: "\e016";
}
.icon-check:before {
  content: "\e017";
}
.icon-chronometer:before {
  content: "\e018";
}
.icon-clock:before {
  content: "\e019";
}
.icon-cloud-check:before {
  content: "\e01a";
}
.icon-cloud-delete:before {
  content: "\e01b";
}
.icon-cloud-download:before {
  content: "\e01c";
}
.icon-cloud-upload:before {
  content: "\e01d";
}
.icon-cloudy:before {
  content: "\e01e";
}
.icon-cocktail:before {
  content: "\e01f";
}
.icon-coffee:before {
  content: "\e020";
}
.icon-compass:before {
  content: "\e021";
}
.icon-compress:before {
  content: "\e022";
}
.icon-cutlery:before {
  content: "\e023";
}
.icon-delete:before {
  content: "\e024";
}
.icon-delete-folder:before {
  content: "\e025";
}
.icon-dialogue-add:before {
  content: "\e027";
}
.icon-dialogue-delete:before {
  content: "\e028";
}
.icon-dialogue-happy:before {
  content: "\e029";
}
.icon-dialogue-sad:before {
  content: "\e02a";
}
.icon-dialogue-text:before {
  content: "\e02b";
}
.icon-dialogue-think:before {
  content: "\e02c";
}
.icon-diamond:before {
  content: "\e02d";
}
.icon-dish-fork:before {
  content: "\e02e";
}
.icon-dish-spoon:before {
  content: "\e02f";
}
.icon-download:before {
  content: "\e030";
}
.icon-download-folder:before {
  content: "\e031";
}
.icon-expand:before {
  content: "\e032";
}
.icon-fast-food:before {
  content: "\e034";
}
.icon-flag:before {
  content: "\e035";
}
.icon-folder:before {
  content: "\e036";
}
.icon-geolocalizator:before {
  content: "\e037";
}
.icon-globe:before {
  content: "\e038";
}
.icon-graph:before {
  content: "\e039";
}
.icon-graph-descending:before {
  content: "\e03a";
}
.icon-graph-rising:before {
  content: "\e03b";
}
.icon-hammer:before {
  content: "\e03c";
}
.icon-happy-drop:before {
  content: "\e03d";
}
.icon-headphones:before {
  content: "\e03e";
}
.icon-heart-broken:before {
  content: "\e040";
}
.icon-home:before {
  content: "\e041";
}
.icon-hourglass:before {
  content: "\e042";
}
.icon-image:before {
  content: "\e043";
}
.icon-key:before {
  content: "\e044";
}
.icon-life-buoy:before {
  content: "\e045";
}
.icon-list-1:before {
  content: "\e046";
}
.icon-lock-closed:before {
  content: "\e047";
}
.icon-lock-open:before {
  content: "\e048";
}
.icon-loudspeaker:before {
  content: "\e049";
}
.icon-magnifier:before {
  content: "\e04a";
}
.icon-magnifier-minus:before {
  content: "\e04b";
}
.icon-magnifier-plus:before {
  content: "\e04c";
}
.icon-mail:before {
  content: "\e04d";
}
.icon-mail-open:before {
  content: "\e04e";
}
.icon-map:before {
  content: "\e04f";
}
.icon-medical-case:before {
  content: "\e050";
}
.icon-microphone-1:before {
  content: "\e051";
}
.icon-microphone-2:before {
  content: "\e052";
}
.icon-minus:before {
  content: "\e053";
}
.icon-multiple-image:before {
  content: "\e054";
}
.icon-music-back:before {
  content: "\e055";
}
.icon-music-backtoend:before {
  content: "\e056";
}
.icon-music-eject:before {
  content: "\e057";
}
.icon-music-forward:before {
  content: "\e058";
}
.icon-music-forwardtoend:before {
  content: "\e059";
}
.icon-music-pause:before {
  content: "\e05a";
}
.icon-music-play:before {
  content: "\e05b";
}
.icon-music-random:before {
  content: "\e05c";
}
.icon-music-repeat:before {
  content: "\e05d";
}
.icon-music-stop:before {
  content: "\e05e";
}
.icon-musical-note:before {
  content: "\e05f";
}
.icon-musical-note-2:before {
  content: "\e060";
}
.icon-old-video-cam:before {
  content: "\e061";
}
.icon-paper-pen:before {
  content: "\e062";
}
.icon-paper-pencil:before {
  content: "\e063";
}
.icon-paper-sheet:before {
  content: "\e064";
}
.icon-pen-pencil-ruler:before {
  content: "\e065";
}
.icon-pencil:before {
  content: "\e066";
}
.icon-pencil-ruler:before {
  content: "\e067";
}
.icon-plus:before {
  content: "\e068";
}
.icon-portable-pc:before {
  content: "\e069";
}
.icon-pricetag:before {
  content: "\e06a";
}
.icon-printer:before {
  content: "\e06b";
}
.icon-profile:before {
  content: "\e06c";
}
.icon-profile-add:before {
  content: "\e06d";
}
.icon-profile-remove:before {
  content: "\e06e";
}
.icon-rainy:before {
  content: "\e06f";
}
.icon-rotate:before {
  content: "\e070";
}
.icon-setting-1:before {
  content: "\e071";
}
.icon-setting-2:before {
  content: "\e072";
}
.icon-shield-down:before {
  content: "\e074";
}
.icon-shield-left:before {
  content: "\e075";
}
.icon-shield-right:before {
  content: "\e076";
}
.icon-shield-up:before {
  content: "\e077";
}
.icon-shopping-cart:before {
  content: "\e078";
}
.icon-shopping-cart-content:before {
  content: "\e079";
}
.icon-sinth:before {
  content: "\e07a";
}
.icon-smartphone:before {
  content: "\e07b";
}
.icon-spread:before {
  content: "\e07c";
}
.icon-squares:before {
  content: "\e07d";
}
.icon-stormy:before {
  content: "\e07e";
}
.icon-sunny:before {
  content: "\e07f";
}
.icon-tablet:before {
  content: "\e080";
}
.icon-three-stripes-horiz:before {
  content: "\e081";
}
.icon-three-stripes-vert:before {
  content: "\e082";
}
.icon-ticket:before {
  content: "\e083";
}
.icon-todolist:before {
  content: "\e084";
}
.icon-todolist-add:before {
  content: "\e085";
}
.icon-todolist-check:before {
  content: "\e086";
}
.icon-trash-bin:before {
  content: "\e087";
}
.icon-tshirt:before {
  content: "\e088";
}
.icon-tv-monitor:before {
  content: "\e089";
}
.icon-umbrella:before {
  content: "\e08a";
}
.icon-upload:before {
  content: "\e08b";
}
.icon-upload-folder:before {
  content: "\e08c";
}
.icon-variable:before {
  content: "\e08d";
}
.icon-video-cam:before {
  content: "\e08e";
}
.icon-volume-higher:before {
  content: "\e08f";
}
.icon-volume-lower:before {
  content: "\e090";
}
.icon-volume-off:before {
  content: "\e091";
}
.icon-watch:before {
  content: "\e092";
}
.icon-waterfall:before {
  content: "\e0a0";
}
.icon-website-1:before {
  content: "\e0a1";
}
.icon-website-2:before {
  content: "\e0a2";
}
.icon-wine:before {
  content: "\e0a3";
}

.icon-beaker-3:before {
  content: "\e026";
}
.icon-beaker-2:before {
  content: "\e033";
}
.icon-beaker:before {
  content: "\e03f";
}

.icon-question-mark:before {
  content: '?';
}



//Mobile Nav icons

.icon-menu-position {
  position: relative;  
  font-size: 18px;
  top: 3px;
  left: -20px;
  padding-left: 20px;

}

.icon-home-menu:before {
  content: '\e041';
  @extend .icon-menu-position;
}

.icon-squares-menu:before {
  content: '\e07d';
  @extend .icon-menu-position;
}

.icon-flag-menu:before {
  content: '\e035';
  @extend .icon-menu-position;
}  

.icon-beaker-menu:before {
  content: '\e03f';
  @extend .icon-menu-position;
  font-size: 22px;
  top: 2px;
  left: -24px;
}


/* Menu Nav Icons */

@media only screen and (min-width : $screen-sm) {
  .icon-menu-pos {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: 0 auto;  
    padding: 0;
  }


  .icon-home-menu:before {
    content: '\e041';
    @extend .icon-menu-pos;
  }

  .icon-squares-menu:before {
    content: '\e07d';
    @extend .icon-menu-pos;
  }

  .icon-flag-menu:before {
    content: '\e035';
    @extend .icon-menu-pos;
  }  

  .icon-beaker-menu:before {
    content: '\e03f';
    font-size: 24px;
    top: 24px;
    @extend .icon-menu-pos;
  }

}

// SVG icons
//icons in svg 

.icon-svg{
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: all ease .3s;
}

.icon-svg-heart {
  @extend .icon-svg;
  background-image: url('/sites/all/themes/img/icons/heart.svg');
  &:hover {
     // background-image: url('/sites/all/themes/img/icons/heart-hover.svg');
  }
}

.icon-svg-heart-white:before {
  @extend .icon-svg;
  content: '';
  background-image: url('/sites/all/themes/img/icons/heart-white.svg');
}


.icon-svg-eye:before {
  @extend .icon-svg;
  content: '';
  background-image: url('/sites/all/themes/img/icons/eye.svg');
}

.icon-svg-eye-white:before {
  @extend .icon-svg;
  content: '';
  background-image: url('/sites/all/themes/img/icons/eye-white.svg');
}

.icon-svg-dialogue-white:before {
  @extend .icon-svg;
  content: '';
  background-image: url('/sites/all/themes/img/icons/dialogue-white.svg');
}


.icon-svg-star {
  @extend .icon-svg;
  background-image: url('/sites/all/themes/img/icons/star.svg');
  &:hover {
     // background-image: url('/sites/all/themes/img/icons/heart-hover.svg');
  }
}

.icon-svg-share {
  @extend .icon-svg;
  background-image: url('/sites/all/themes/img/icons/share.svg');
  &:hover {
     // background-image: url('/sites/all/themes/img/icons/heart-hover.svg');
  }
}

.icon-svg-mail{
  @extend .icon-svg;
  background-image: url('/sites/all/themes/img/icons/mail.svg');
  &:hover {
     // background-image: url('/sites/all/themes/img/icons/heart-hover.svg');
  }
}


