//
// Utility classes
// --------------------------------------------------



//Flags
.flagged, .unflag-action { color: $secondary-color !important; }

.green-lime { color: $green-lime; }

.gray-dark { color: $gray-dark; }

//Stop scrolling from page
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.separator {
  border-bottom: $border-dark;
  width: 100%;
}

.ui-datepicker { z-index: 9999 !important; }
