/* Large Card, Small Card, Full Width Card */


// Large Card


.card {
  margin-bottom: 30px;

  .taxonomy-tags {
    border-bottom: 1px solid $white;
    display: inline-block;
    height: 34px;
    overflow: hidden;
    vertical-align: bottom;

    > div { 
      border-right: 1px solid $white;
      color: $white;
      float: left;
      font-size: 12px;
      height: 100%;
      padding: 8px 10px 0;
    }

    > div:last-child { border: 0; }

    .icon { 
      font-size: 20px; 
      padding: 8px;

    }
  }

  img {
    height: auto;
    width: 100%;
  }

  &.large .img-icon { 
    font-size: 20px; 
    left: 0;
    padding: 6px 8px 0;
    position: absolute;
    top: 0;   
  }

  &.large.collaborations .img-icon {
    font-size: 25px;
    padding: 2px 6px 0px 5px;
  }

  &.large.challenges {
    footer > div { 
      width: 50%;
    } 
  }



// Article
  article {
    background-color: $white;
    position: relative;
    border: $border-dark;

    .feat-img { 
      position: relative;
      height: 165px;
      overflow: hidden;
    }

    .remaining-days {
      background-color: $red;
      bottom: 0;
      color: $white;
      display: inline-block;
      font-size: 12px;
      padding: 8px;
      position: absolute;
      right: 0;
      text-transform: uppercase;
    }

    span.remaining-days { font-weight: bold; }

    .remaining-days:before {
      font-size: 16px;
      position: relative;
      top: 3px;
    }

    .content { 
      height: auto;
      padding: 45px 20px 25px; 
      position: relative;
      
      p { color: $gray-dark; }
    }

    .title a { 
      color: $gray-darker;
      display: inline-block;
      font-family: $univers47;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 20px;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }

    // Cockade and Tag
    .cockade {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: auto;
      height: 60px;
      left: 5px;
      position: absolute;
      top: -25px;
      width: 52px;
      z-index: 999;
    }

    .tick {
      background-image: url('/sites/all/themes/img/card/cockade-green.png');
      &:hover {
        background-image: url('/sites/all/themes/img/card/cockade-green-hover.png');
      }  
    }

    .todolist {
      background-image: url('/sites/all/themes/img/card/cockade-todolist.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-todolist-hover.png'); }  
    }

    .tool {
      background-image: url('/sites/all/themes/img/card/cockade-tool.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-tool-hover.png'); }  
    }

    .sinth {
      background-image: url('/sites/all/themes/img/card/cockade-sinth.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-sinth-hover.png'); }  
    }
    
    .paper-pencil {
      background-image: url('/sites/all/themes/img/card/cockade-paper-pencil.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-paper-pencil-hover.png'); }  
    }

    .parked {
      background-image: url('/sites/all/themes/img/card/cockade-parked.png');
      &:hover { background-image: url('/sites/all/themes/img/card/cockade-parked-hover.png'); }  
    }

    .tag {
      color: $white;
      display: inline-block;
      font-family: univers57;
      font-size: 12px;
      padding: 5px 0;
      position: absolute;
      
      top: -14px;
      
      text-transform: uppercase;
      transition: all ease 1s;
      max-width: 0;
      max-height: 30px;
      overflow: hidden;
    }
    
    .green { background-color: $green-lime; }
    .green-dark { background-color: $green-dark; }
    .orange { background-color: $orange; }
    .blue { background-color: $blue; }
    .purple { background-color: $blue; }
  } // </article>


  footer {
    border-top: 1px solid $gray-chromium;
    overflow: hidden;
    color: $gray-dark; 

    > div {
      border-right: 1px solid $gray-chromium;
      float: left;
      padding: 15px 0;
      text-align: center;
      width: 33%;
    }

    > div:last-child { border: 0; }

    p,
    a { 
      font-size: 12px;
      text-transform: uppercase;
    }
    
    a {  
      color: $gray-dark;
      text-decoration: none;

      &.flagged,
      &:active,
      &:hover {
        color: $green-lime;
      }
    }

    a[class^="icon-"] {
      font-size: 14px;
      font-size: 16px;
      position: relative;
      right: 4px;
      top: 3px;
    }

    .flag-wrapper { display: block; }
  } // End of footer

} // </card>


//Only one card center element
.card.large.total-items-1 {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

//Center 2 cards elements
.card.large.total-items-2:first-child {
  @media #{$scrn-md-min} { margin-left: 16.66667%; }
}

//SMALL CARD

.card.small {
  padding-right: 1px;
  
 .feat-img { 
   background-repeat: no-repeat;
   background-size: cover;
   height: 97px;
   position: relative; 
   overflow: hidden;
 }

  img {
    height: auto;
    width: 100%;
  }

  .img-icon {
    bottom: 0;
    color: $white;
    font-size: 20px; 
    height: 34px;
    left: 0;
    padding: 8px;
    position: absolute;
    width: 36px;
  }

 icon.purple { @include bg-gradient-blue-purple(); }
  
 .content {
   overflow: hidden;
   padding: 22px 13px 12px 15px;
   height: 106px;

  .title { display: block; }

  .title a { 
    font-size: 18px;
    margin-bottom: 4px;
  }

   p { 
     font-size: 13px; 
     line-height: 16px;
     padding-top: 4px;
   }
 }
  
 footer {
   > div { padding: 10px; }
   a:before {
      font-size: 16px;
      position: relative;
      right: -3px;
      top: 2px;
    }
 }
 
.flag-throbber, .flag {
  display: none;
}

 @media (min-width: $screen-sm-min) {  width: 217px; }
} // </small>  


// Full Width Card
.full-width-card {
  margin-bottom: 20px;

  @media #{$scrn-md} {
     margin-bottom: 40px;
  }

  .border-box { border: $border-dark; }
  
  .feat-img,
  .content, 
  aside { 
    background-color: $white; 
    @media #{$scrn-md} {
       height: 150px;
    }
  }


  .feat-img {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 150px;

    i {
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px; 
      padding: 6px 8px 0;
    }


    img {
      width: 100%;
      height: auto;
    }

  }  

  &.collaboration .picture i  {
    font-size: 25px;
    padding: 2px 6px 0px 5px;
  }

  .content {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    overflow: hidden;

    a {
      text-decoration: none;
      font-size: 30px;
      color: $gray-darker;
      display: block;
      margin-bottom: 15px;
      font-family: $univers47;
      line-height: .98;

      &:hover { text-decoration: underline; }
    }

    p {
      line-height: 21px;
    }

  }

  aside {
    border: $border-dark;
    border-width: 1px 0 0;
    padding: 0;
    @media #{$scrn-md} { 
      padding: 0;
      border-width: 0 0 0 1px;
    }

    a { 
      color: $gray-dark;
      text-decoration: none;
    }
    a:hover, a.flagged {color: $green-lime;}

    > div {
      border-bottom: $border-dark;
      height: 33%;
      height: calc(100% / 3);
      padding: 15px 0;
      text-align: center;
      text-transform: uppercase;

      &:last-child { border-bottom: 0; }

      a[class^="icon-"] {
        position: relative;
        top: 2px;
        &:hover {
          text-decoration: none;
        }
      }

    }

    .support a { right: 0; }
    .follow a { right: 1px; }
    .comment a { right: 2px;  }
  }

  &.challenge {
    aside > div { 
      height: 50%; 
      padding: 28px 0;
    }
  }
  
  &.idea .feat-img i,
  &.challenge .feat-img i {
    @include bg-gradient-blue-purple();
  }

  &.collaboration .feat-img i {
    @include bg-gradient-purple-pink();
  }
}  


// MY HUB --> CARD UPDATES

.separator-updates {
  background-color: $gray-dark;
  height: 1px;
  margin: 0 auto;
  width: 50%;
}

.card-updates {
  margin: 40px 0;
  font-family: $univers47;

  .icon { 
    text-align: left;

    @media #{$scrn-md} { 
      padding: 0;
      text-align: right;
    }
  }

  i { 
    color: $gray-darker;
    font-size: 40px;
  }
  
  a { color: $green-dark; }

  .content {
    padding-top: 10px;
    padding-bottom: 10px;
    .title {
      margin: 5px 0 0;
      font-family: $univers47;
      font-size: 18px;
      
      a { 
        color: $gray-darker;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }


  .resume {
    color: $purple;
    margin: 0;
  }
  
  .desc { 
    padding: 10px 5px 0 0;
    display: inline-block;
  }
  
  .resume, 
  .desc, 
  .read-more { font-size: 18px; }
  
  .time-elapsed {
    color: $black;
    font-size: 14px;
  }
  
  .author {
    padding: 12px 0;

    .user-picture { float: left; }
    .img-responsive { 
      height: 48px;
      width: 48px;
    }

    a { 
      display: inline-block;
      margin: 10px 5px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  

  .picture, 
  .info {
    margin-top: 10px;
  }

  .picture {
    height: 100px;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 185px;

    @media #{$scrn-md} { float: left; }

    img { width: 100%; }

    i {
      color: $white;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px; 
      padding: 6px 8px 0;

      &.idea { @include bg-gradient-blue-purple(); }

      &.project,
      &.collaboration { 
        @include bg-gradient-purple-pink();
      }
    }
  }


  .info { 
    width: auto;
    
    @media #{$scrn-md} {
      margin-left: 200px;
    }
  
    &.no-image {
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }
    
    .desc {
      color: $gray-darker;
      font-size: 14px;
      padding: 0;
      line-height: 1;
      margin: 5px 0;
    }
  }  
  
}




