.form-control {
  border-color: $gray-chromium;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: $gray-dark;
  background-color: $white;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s;

  &::placeholder {
    color: $gray-dark;
    right: 0;
  }

  &:hover {
    border-bottom: 1px solid $green-lime;
    &::placeholder { color: $gray-dark; }
  }

  &:focus {
    border-color: $gray-chromium;
    border-bottom: 3px solid $green-lime;
    box-shadow: none;
  }

  &.form-file { display: inline-block; }
}


.panel-collapse {
  input[type="text"].form-control ,
  input[type="password"].form-control {
    border-left: $border-dark;
    border-right: $border-dark;
    border-top: $border-dark;  
  }
}

.resizable-textarea textarea {
  border: $border-dark;
  border-radius: 0;

  &:hover,
  &:focus {
    border-left: $border-dark;
    border-right: $border-dark;
    border-top: $border-dark;
  }
}

.comment-form #edit-author, 
.field-widget-text-textarea {
  @media #{$scrn-md} {
    max-width: 536px;
  }
}

input[type="text"].form-control ,
input[type="password"].form-control {
  border-radius: 0;
  height: 65px;
  transition: border-color ease .3s, border-width .1s ease;
  width: 380px;
 
  @media #{$scrn-small} {
    width: 100%;
  }
}

button[type="submit"] { 
  @include btn-white();

  &.btn-danger {
    @include btn-orange();
    font-size: 15px;
    height: 37px;
    line-height: 1;
  }  
}

button {
  .glyphicon { font-size: 12px; }    
}

.help-block {
  color: $gray-dark;
}

//Tabs Drupal options
.vertical-tabs-list {

  li a,
  li.active a,
  li.active a:focus { 
    color: $green-dark;
    text-decoration: none;

    &:hover {
      color: $green-dark;
      text-decoration: underline;
    }
  }

  li.vertical-tab-button a .summary { color: $gray-darker; }
}


//File input

.form-managed-file {
  .form-file { 
    display: inline-block;
    width: auto;
  }

  .input-group-btn { 
    display: inline-block;
    margin-left: 10px;
  }

  button { 
    font-size: 12px;
    padding: 8px;
  }
}

//Media browser

.page-media-browser:after { 
  display: none;
}

.media-wrapper { 
  max-width: 100%;
  .ui-widget-header {
    @include bg-gradient-green-blue();
    border-radius: 0;
    color: $white;
  }
  
  .ui-dialog-titlebar-close {
    background-color: transparent;
    border: 0;
  }

  .ui-dialog-titlebar-close:after {
    content: '\e014';
    color: $white;
    font-family: 'Glyphicons Halflings';
  }

}

.page-media-browser {

  max-width: 100%;

  #media-tabs-wrapper { float: left; }
  
  .help-block { display: none; }

  .nav {
    border-bottom: $border-dark;
  }

  .ui-tabs .ui-tabs-nav {
    border: 0;
    padding: 0;

    li { 
      border: 0;
      background: transparent;
      margin: 0;
      margin-left: 10px;

      &:first-child { margin-left: 0; }
    }

    li a { 
      padding: 10px 0;
      color: $green-dark;
      text-transform: uppercase;
      font-size: 15px;

      &:hover {
        text-decoration: none;
        background: transparent;
        color: $blue;
      }

    }

    li.ui-state-active {
      border-bottom: $border-blue;
      border-bottom-width: 3px;

      a { color: $blue; }

    }
  }

  #edit-upload-upload .form-control {
    overflow: hidden;
  }

  #edit-upload-upload .form-file {
    padding: 0;

    @media #{$scrn-md} {  
      padding: 2px;
    }

  }

  #media-tab-upload {
    padding: 10px 10px 0px 10px;
  }

  #edit-upload-upload-button { 
    display: inline-block;
    margin-bottom: 10px;

    @media #{$scrn-md} {  
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .views-exposed-form .views-exposed-widget { 
    float: none;
  }
  
  .form-file, .form-file .error  {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-decoration: underline;
    color: $blue;
    border: $border-dark;

    @media #{$scrn-md} {  width: 70%; }
  }
  
  .input-group-btn {
    margin: 0;
  }

  #edit-upload-remove-button,
  #edit-previous,
  #edit-submit,
  #edit-submit-media-default,
  .button-yes { 
    margin: 10px 0;
    padding: 8px;
    font-size: 12px;
  }

  #edit-next {
    @include btn-green();
    display: block;
    padding: 8px 16px;
    font-size: 12px;

    @media #{$scrn-md} { display: inline-block; }

  }

  input[type="text"].form-control{
    height: auto;
  }

  .fake-submit {
    @include btn-white();
    text-decoration: none;
    display: inline-block;
  }

  .views-exposed-form .views-exposed-widget .btn {
    margin-top: 0;
    padding: 0;
    padding: 4px 7px;
  }

  .pagination > .active > span,
  .pagination > .active > span:hover  { 
    @include bg-gradient-green-blue();
  }

  .page-search .pagination > li.active > span {
    color: $white;
  }

  .pagination > li > a, 
  .pagination > li > a:focus,
  .pagination > li > a {
    color: $green-dark;
  }

}

.preview {
  margin: 0;
}

//Admin Metadata
.node-form-author,
.form-item-field-tags-und,
.form-item-field-key-skills-und {
  input[type="text"].form-control { width: 100%; }
}

.input-group-addon {
  border-radius: 0;
}


