//About page

.page-node-98 {
  .content-top {
    @include bg-gradient-pink-orange-op('/sites/all/themes/img/background/triangle-top-right-cut.png', '../assets/img/background/header-myhub-bg.jpg', .9);
    background-position: top right, 0 0 , 0 0;
    background-size: contain, auto ,cover;
    padding: 28px 0; 
  }

  .features td{ 
    padding: 10px;
  }

  h3 {
    color: $green-dark;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: $border-dark;
  }
}
