/* === CHALLENGES INDEX PAGES === */

.page-challenge,
.page-open-challenges,
.page-closed-challenges,
.page-archived-ideas {

  /*** Header Content Top ***/

  .content-top {
    @include bg-gradient-challenge('../assets/img/background/triangle-bottom-right-cut.png', .9);
    background-position: top right, 0 0 , 0 0;
    background-size: contain, auto , cover;
    background-repeat: no-repeat, no-repeat, no repeat;
    padding: 25px;

    p { font-size: 25px; }

    h2 { 
      display: inline-block;
      font-size: 22px;
      padding: 0;

      &:before {
        position: relative;
        right: 5px;
      }
    }
    
    .popover i { color: $challenge-primary-color; }
    .popover p { font-size: 15px; }
  }

  /*** Cards ***/

  .card .taxonomy-tags { @include bg-gradient-challenge();  } 

  .card article .img-icon { 
    @include bg-gradient-challenge(); 
    color: $white; 
  }

  /*** Slideshow Ideas small cards ***/

  .view-latest-ideas .card article .img-icon { @include bg-gradient-ideas(); }

  /*** Main Container ***/

  .main-container { @include bg-white-gray(); }

}

/* === CHALLENGE MAIN PAGE === */

.page-challenge {

  .main-container {  padding: 0; }

  /*** Content Lower Block ***/

  .content-lower {
    @include bg-gradient-challenge('../assets/img/background/triangle-middle-big-down.png', .9);
    background-position: top center, 0 0 , 0 0;
    background-size: cover, auto , auto;
    padding: 30px 0;

    @media #{$scrn-sm-min} {
      background-size: contain, auto , auto;
    }
  }

  /*** Content Bottom Block ***/

  .content-bottom {
    @include bg-gradient-white-gray();
    .view-header {
      color: $challenge-primary-color;
    }
  }
  
/* === Main Content Header === */

  .view-challenges {

    header {
      border-bottom: $border-dark;
      position: relative;
      height: 56px;
    }
  }
  
  /*** Breadcrumbs ***/

  .breadcrumb-container {
    bottom: 0;
    position: absolute;
  }

 /*** Search Input ***/

  .views-exposed-form {
    display: inline-block;
    float: right;
    
    .views-exposed-widget { 
      float: right; 
      padding-right: 0;
    }   
    .views-exposed-widgets { margin-bottom: .8em; }

    input[type="text"].form-control {
      background-color: $gray-lighter;
      color: $challenge-primary-color;
      height: 35px;
      width: 180px;
    }
  }
  
  /*** Create New Challenge Button ***/

  a.create-challenge { 
    border: 1px solid $challenge-primary-color;
    color: $challenge-primary-color;
    background-color: transparent;
    text-transform: uppercase;
    transition: all ease .3s;
    text-decoration: none;
    font-size: 12px;
    bottom: 12px;
    padding: 6px 7px 7px;
    position: absolute;
    display: inline-block;
    right: 0;

    &:hover {
      background-color: $challenge-primary-color;
      color: $white;
    }

    @media #{$scrn-sm-min} {
      right: 190px;
    }
  }

  /* === End of Main Content Header === */

  /*=== Views ===*/

  /*** Headers ***/

  .view-archieved-ideas,
  .view-closed-challenges {
    .view-header {  
      padding: 30px 0 20px; 
    }
  }

  .view-challenges, 
  .view-latest-ideas {
    .view-header {
      padding: 30px 0 0;

      p { 
        margin: 15px 0;
        @media #{$scrn-sm-min} { padding: 0 80px; }
      }
      
      h3, 
      i { color: $challenge-primary-color; }

      h3 { margin: 60px 0 20px; }
    }
  }

  .view-latest-ideas .view-header { 
    h3 { margin-top: 0; }
    h3,
    i { color: $white; } 
  }

  /*** More link button ***/

  .more-link { margin-bottom: 30px; }

  /*** Add to Brainstorm Block ***/

  #block-collabco-challenge-add-to-brainstorm {
    @include title-1-block();
    color: $challenge-primary-color;
    text-align: center;
  }

  #block-system-main { padding-top: 0; }

  /*** Views Separator Line ***/
  
  .separator {
    border-bottom: 1px solid $challenge-primary-color;
    margin-bottom: 30px;
  }

} 

/* === END OF CHALLENGE MAIN PAGE === */

/* === IDEAS ARCHIVED AND CLOSED CHALLENGES PAGES === */

.page-ideas-archived,
.page-closed-challenges {
  
  .card article .img-icon { 
    @include bg-gradient-challenge(); 
    color: $white;
  }
  
  .view-header { color: $challenge-primary-color; }

}
