/* === COLLABORATION INDEX PAGES === */

.page-collaborate,
.page-featured-collaborations,
.page-parked-collaborations,
.page-collaborations-turned-projects {


 /*** Header Content Top ***/

  .content-top {
    @include bg-gradient-collaboration('', .9);
    padding: 40px 25px;

    h2 {
      display: inline-block;
      font-size: 22px;

      &:before {
        position: relative;
        right: 5px;
        font-size: 27px;
      }
    }

    i,
    p {
      font-size: 25px;
    }

    .popover {
      i { color: $collab-primary-color; }
      p { font-size: 15px; }
    }
  }

  /*** Cards ***/

  .card .taxonomy-tags { @include bg-gradient-collaboration;  }

  .card article .img-icon {
    @include bg-gradient-collaboration();
    color: $white;
  }

  /*** Main Container ***/

  .main-container {
    @include bg-white-gray();
  }

  /*** Breadcrumbs ***/

  .breadcrumb-container {
    border-bottom: $border-dark;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: .8em;
    text-align: left;

    .breadcrumb {
      background: $white;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }
}

/* === COLLABORATION MAIN PAGE === */

.page-collaborate {

  /*** View Headers ***/

  .view-header {
    padding-top: 0;
    padding-bottom: 0;

    h3,
    i { color: $collab-primary-color; }

    i { font-size: 25px; }

    p {
      margin: 15px 0;
    }
  }

  .view-collaborations-main-view {
    h3 { margin: 30px; }
  }

  /*** Content Lower Block ***/

  .content-lower {
    @include bg-gradient-collaboration('../assets/img/background/triangle-middle-big.png', .9);
    background-position: top center, 0 0 , 0 0;
    background-size: cover, auto , auto;

    @media only screen and (min-width : $screen-sm) {
      background-size: contain, auto , auto;
    }
  }

  /*** HOW CAN I START A COLLABORATION? Block ***/

  #block-collabco-collaboration-how-to-start-collaborate {
    @include title-1-block();
    color: $white;
    text-align: center;

    h2,
    i,
    p { margin: 25px 0; }

    i {
      display: block;
      font-size: 50px;
    }

  }

  /*** Content Bottom Block ***/

  .content-bottom {
    @include bg-gradient-white-gray();
    padding: 40px 0;

    h3 { color: $collab-primary-color; }

    .view-header {
      padding-top: 0;
    }
  }

  /*** Views Separator Line ***/

  .separator {
    border-color: $collab-primary-color;
    margin: 10px 0;
  }

}

/* === FEATURED COLLABORATION  AND PARKED COLLABORATION PAGE === */

.page-featured-collaborations,
.page-parked-collaborations {

  .content-top h2 { padding: 0; }
}
