/* === INDVIDUAL COLLABORATION - INDEX DISCUSSION PAGE === */

.page-node-discussions {

/*** Discussion Box ***/

  .discussion { 
    border: $border-dark;
    padding: 20px;
    margin-bottom: 20px;

    &:hover {
      background-color: $gray-lighter;
    }

  }

  .content a { 
     color: $collab-primary-color; 
     font-size: 22px;
     text-decoration: none;

     &:hover {
      text-decoration: underline;
     }
  }
  
  .icon { 
    color: $collab-primary-color;
    font-size: 35px;
    text-align: center;
  }

  .file a { 
    color: $collab-secondary-color;
    text-decoration: none;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .file a:before { 
    @include icon-style();
    position: relative;
    content: '\e01c';
    top: 2px;
    right: 3px;
  }

}

/*** SIDEBAR ***/

.sidebar-2 .host-discussion{

  h2 { margin-top: 0; color: $collab-primary-color;  }

  a { color: $collab-secondary-color; }

  /* === Sidebar Button === */

  .add-resource {
    font-size: 14px; 
    text-decoration: none;

    &:before {
      font-size: 14px;
      position: relative;
      right: 4px;
      top: 2px;
    }
  }
}


/* === INDVIDUAL DISCUSSION PAGE === */

.node-type-conversation { 
  
  .full-width-top {
    @media only screen and (min-width : $screen-sm) { padding: 60px; }
  }

  .main-container { padding: 0 0 30px; }
  
  .comment-wrapper .title  { color: $collab-primary-color; }

  .user-picture { 
    display: inline-block;
    margin: 0;
  }

}
