//Help page

.page-node-99 {
  .content-top {
    @include bg-gradient-pink-orange('', '../assets/img/background/header-myhub-bg.jpg', .9);
    background-position: top right, 0 0 , 0 0;
    background-size: contain, auto ,cover;
    padding: 28px 0; 
  }

  h3 {
    color: $green-dark;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: $border-dark;
  }

  h4 {  color: $blue; }
}
