.front {

  // Content top block logged
  &.logged-in .content-top {
    background-color: $white;
    color: $gray-dark;
    padding: 60px 0;

    span { font-weight: bold; }

    #header-home-title { margin-bottom: 55px; }

    p { 
      font-size: pxtoem(36px); 
      line-height: 1; 
      margin: 10px 0; 
      padding: 0 110px;
      word-break: break-word;
    }

  }  // </logged-in .content-top>
  
  .main-container { 
    padding: 0;
    min-height: 0;
  }

  // Content upper - open challenges
  .content-upper {
    @include bg-gradient-blue-purple('', '', .9);
    background-position: top right,  0 0 , 0 0;
    background-size: contain, auto, auto;
    color: $white;
    padding: 50px 0;
    
    .view-header { 
      padding-bottom: 10px; 
      padding-top: 0;
    }

    .more-link a {
      @include btn-purple();
      color: $white;
      border-color: $white;
    }
  }  

}

