/* === MY HUB PAGES  === */

.page-myhub, 
.page-user {
  
  /*** Header Full Width Top Block ***/

  .content-top {
    @include bg-gradient-hub('', .9);
    background-position: top right, 0 0 , 0 0;
    background-size: contain, auto ,cover;
    padding: 28px 0; 

    h2 a {
      color: $white;
      text-decoration: none;
    }

    #block-collabco-myhubs-header-myhubs { position: relative; }

    .user-picture {
      display: inline-block;
      position: absolute;
      margin: 0 auto;
      bottom: -58px;
      left: 0;
      text-align: center;
      right: 0;
    }

    .user-picture .img-responsive {
      border: 2px solid $white;
      display: inline-block;
      height: 64px;
      width: 64px;
    }
  } 

.page-myhub .main-container { @include bg-white-gray(); }

} 

/*** View Header  ***/

.page-myhub {
  .view-header {
    padding: 0;
    text-align: center;
    i { font-size: 25px; }

    h2 {
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}


/* === MY HUB - NO RESULTS  === */

.view-empty-myhub .no-results {
  padding: 35px 0;
  text-align: center;

  h2 { 
    margin-top: 0;
    text-transform: uppercase;
  }

  h2,
  i { color: $hub-primary-color; }

  i { font-size: 35px; }
  a { color: $hub-secondary-color; }
  
  p { 
    margin-bottom: 0;
    padding: 20px 34px 0;
  }

  .row { padding: 40px 0 20px;}
  .row > div { margin-top: 20px; }

}

/* === MY HUB - CREATING TAB  === */

.page-myhub-developing {
  .create-new-idea-block {
    text-align: left;
    margin-bottom: 20px;
  }

  .btn-white {
    display: inline-block;
    text-decoration: none;
  }
}
