/* === INDIVIDUAL IDEA (node-type-idea) PAGE === */

.node-type-idea{

  /*** Main Container ***/

  .main-container { padding: 37px 0; }

/*** Header Full Width Top Block ***/

  .full-width-top{
    @include bg-gradient-ideas('../assets/img/background/triangle-bottom-right-cut.png', .9);
    @include content-top();
    background-position: top right, 0 0 , 0 40%;
    background-size: contain, auto, cover;
    padding: 50px;
    position: relative;
    overflow: hidden;
  }

  #block-collabco-idea-single-idea-header { position: static; }


/*** Breadcrumbs ***/

  .breadcrumb-container {
    border-bottom: $border-dark;
    padding-top: 30px;
    margin-bottom: 30px;
  } 

/*** Main Container ***/

  section {
    p { line-height: 21px; }
    .field-name-body { margin-bottom: 85px; }
  }

  
/*** Sidebar ***/

  .sidebar-2 .nav-tabs {
    margin-bottom: 0;
  }

  .sidebar-2 h2 { 
    color: $idea-primary-color; 
    margin-top: 20px;
  }
	
/*** Comments ***/

.comment-wrapper .title { color: $idea-primary-color; }

}



/* === VIEW IDEAS SUPPORTES PAGE === */

.page-idea-supporters{
  .content-top {
    @include bg-gradient-ideas('../assets/img/background/triangle-bottom-right-cut.png', .9);
    background-size: contain, auto, cover;
    background-position: top right, 0 0, 0 0;
    padding: 15px 0;
  }
}

/* === EDIT IDEA PAGE === */

.page-node-edit.node-type-hub {

  .tabs-left .nav {
    li a[href="#edit-options"]{
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: $orange;
      border-radius: 0;
      color: $orange;
      cursor: pointer;
      
      .summary { color: $orange; }

    }

    li .tooltip {
      width: 200px;
    }

  }  
}

/* === LARGE CARDS === */

.card.ideas.large .img-icon { 
  @include bg-gradient-ideas(); 
  color: $white;
}


