/* === INDVIDUAL COLLABORATION (node-type-hub) PAGE === */

.node-type-hub,
.page-node-discussions,
.page-node-documents,
.node-type-conversation,
.node-type-knowledge-object {
  
  /*** Header Full Width Top Block ***/
  .full-width-top{
    @include bg-gradient-collaboration('../assets/img/background/triangle-top-right-cut.png', .9);
    @include content-top();
    background-position: top right, 0 0 , 0 40%;
    background-size: contain, auto, cover;
    padding: 50px;
    position: relative;
    overflow: hidden;
    
    i { font-size: 25px; }

    #block-collabco-collaboration-single-collaboration-header { position: static; }
  }

  .content-upper { padding-top: 10px;}

  /*** Breadcrumbs ***/

  #block-collabco-collaboration-single-collaboration-breadcrum h2.block-title { display: none; }

  .breadcrumb-container {
    display: inline-block;
    bottom: 0;
    
    @media #{$scrn-sm-min} {
      position: absolute;
    }
  }  

  /*** Secondary Nav ***/

  header.top-view {
    border-bottom: $border-dark;
    margin-bottom: 30px;
    position: relative;
  }

  .collaboration-tabs {
    .nav { 
      margin-top: 0;
      margin-bottom: 15px;

      @media #{$scrn-sm-min} { margin-bottom: 0; }
    }  
    
    @media #{$scrn-sm-min} {
      float: right;
      display: inline-block;
    }  
  }

}

.page-node-add-member { 
  input[type="text"].form-control { width: 100%; }
}

/* === INDVIDUAL COLLABORATION (node-type-hub) PAGE === */

.node-type-hub {

  #block-collabco-collaboration-likes > h2 { display: block; }

  /*** Body Text ***/
  .field-name-body { 
    margin-bottom: 85px;
    p { line-height: 21px; }
  }

  /*** Comments ***/

  h2.comment-form { color: $collab-primary-color; }

  .comment-wrapper .title { color: $collab-primary-color; }

  .comment-body { color: $collab-primary-color; }
  
  /*** Sidebar ***/ 

  .sidebar-2 {
  
    h2 { color: $collab-primary-color; }
  
    h2.related-ideas { margin-top: 25px; }

    .view-team-belonging-to-collaboration {
      .view-header { padding: 12px 0; }
    }
  }
}

/* === Discussion and Documents Sidebar Button === */

.add-resource {
  font-size: 12px; 
  text-decoration: none;

  &:before {
    font-size: 14px;
    position: relative;
    right: 4px;
    top: 2px;
  }
}


