.node-type-hub {

  #block-collabco-collaboration-likes > h2 { display: block; }

  //Text body
  .field-name-body { 
    margin-bottom: 85px;
    p { line-height: 21px; }
  }
  //Comments
  h2.comment-form { color:$purple-pink; }
  
  //Sidebar
  .sidebar-2 {
    h2 { color: $purple-pink; }
    h2.related-ideas { margin-top: 25px; }


    .view-team-belonging-to-collaboration {
      .view-header { padding: 12px 0; }
      .views-row { margin-bottom: 20px; }
    }
  }

}


.node-type-hub,
.page-node-discussions,
.page-node-documents,
.node-type-conversation,
.node-type-knowledge-object {
  .full-width-top{
    @include bg-gradient-purple-pink('/sites/all/themes/img/background/triangle-top-right-cut.png', '', .9);
    @include content-top();
    background-position: top right, 0 0 , 0 40%;
    background-size: contain, auto, cover;
    padding: 60px;
    position: relative;
    overflow: hidden;
    
    i { font-size: 25px; }

    #block-collabco-collaboration-single-collaboration-header { position: static; }
  }
}


.node-type-hub,
.page-node-discussions,
.page-node-documents,
.node-type-conversation,
.node-type-knowledge-object {

//Breadcrumbs
  #block-collabco-collaboration-single-collaboration-breadcrum h2.block-title { display: none; }
  header.top-view {
    border-bottom: $border-dark;
    margin-bottom: 30px;
    position: relative;
  }
  .collaboration-tabs {
    .nav { 
      margin-top: 0;
      margin-bottom: 15px;

      @media #{$scrn-sm-min} { margin-bottom: 0; }
    }  
    
    @media #{$scrn-sm-min} {
      float: right;
      display: inline-block;
    }  
  }

  .breadcrumb-container {
    display: inline-block;
    bottom: 0;
    
    @media #{$scrn-sm-min} {
      position: absolute;
    }

  }  
}

.page-node-add-member { 
  input[type="text"].form-control { width: 100%; }
}



