/* === INDIVIDUAL CHALLENGE (page-taxonomy-term) PAGE === */

.page-taxonomy-term {

/*** Breadcrumbs ***/

header.challenge-status {
  .breadcrumb-container {
    display: inline-block;

    @media only screen and (min-width : $screen-sm) { float: left; }

  }
  .status { 
    @media only screen and (min-width : $screen-sm) { float: right; }
  }
}

/*** Challenge Status ***/

.challenge-status {
  border-bottom: $border-dark;
  font-size: 13px;
  
  color: $gray-darker;
  span { 
    margin-right: 16px;  
    text-transform: capitalize;
  }
  margin-bottom: 37px;
}

/*** Header Full Width Top Block ***/

  .full-width-top{
    @include bg-gradient-challenge('/profiles/collabco/themes/custom/collabco_theme/assets/img/background/triangle-bottom-right-cut.png', .9);
    background: rgba(83, 39, 98, 1); /*variable:challenge_background_color*/
    background-image: linear-gradient(135deg, rgba(83, 39, 98, 1) 0%, rgba(77, 49, 155, 1) 100%); /*variable:challenge_gradient*/
    background-image: -webkit-linear-gradient(135deg, rgba(83, 39, 98, 1) 0%, rgba(77, 49, 155, 1) 100%); /*variable:challenge_webkit_gradient*/
    @include content-top();
    background-position: top right, 0 0 , 0 40%;
    background-size: contain, auto, cover;
    padding: 50px;
    position: relative;
    overflow: hidden;
  }

  #block-views-challenge-page-header-block { position: static; }

  /*** Top Left Corner Ribbon ***/

  .corner-ribbon {
    background: $ribbon-color;
    padding: 12px 6px 0 0;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: -42px;
    text-align: center;
    height: 42px;
    text-transform: uppercase;
    transform: rotate(-30deg);
    width: 200px;

    span { font-weight: bold; }
  }

  /*** Header Top Sponsor ***/
  
  .sponsor {
    bottom: 20px;
    left: 28px;
    position: absolute;

    .user-picture { 
      display: inline-block;
      float: left;
      margin: 0;

      .img-responsive {
        height: 51px;
        width: 51px;
      }
    }

    .sponsor-name {
      display: inline-block;
      float: left;
      padding-left: 10px;
      text-align: left;

      span { 
        font-size: 10px; 
        text-transform: uppercase;
      }

      a {
        color: $white;
        text-decoration: none;
        
        &:hover { text-decoration: underline; }

      }
    }
  }

/*** End of Header Full Width Top Block ***/


/*** Main Container ***/

  .taxonomy-term-description {
    margin-bottom: 20px;

    p { line-height: 21px; }
  }

  .create-idea-btn {
    margin-bottom: 10px;

    p { 
      color: $challenge-primary-color; /*variable:challenge_primary_color*/
      margin-bottom: 10px;
    }
  }

  /*** Hide Node Idea ***/

  .node-idea,
  .node-idea + div { 
    display: none; 
  }

/*** Sidebar ***/

.sidebar-2 h2 {  color: $challenge-primary-color; /*variable:challenge_primary_color*/ }

}

/*** Content Middle - Winning/Recent Ideas Block ***/

  .content-middle { 
    @include bg-white-gray();
    
    h2.block-title {
      color: $challenge-primary-color; /*variable:challenge_primary_color*/
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: $border-dark;
      margin-bottom: 48px;
      padding-bottom: 16px;
    }

    .border-dark {
      min-height: 1px;
      border-bottom: $border-dark;
      margin-bottom: 48px;
    }
  }



/*** Content Middle - Winning Ideas Block ***/

.view-id-ideas_belonging_to_challenge {
  .recent-ideas {

    h2.block-title { 
      border-bottom: $border-dark;
      margin: 0 15px;
      padding: 16px 0;
      
      @media only screen and (min-width : $screen-sm) { 
        border: 0;
        margin: 0;
        padding: 46px 15px 0;
      }
    }

  }

  .view-filters {
    text-align: left;
    @media only screen and (min-width : $screen-sm) { 
      text-align: right;
    }
  }

}

/*** Content Middle - Filter Form ***/

#views-exposed-form-ideas-belonging-to-challenge-ideas-of-a-challenge {
  display: inline-block;

  @media only screen and (min-width : $screen-sm) {
    bottom: 16px;
  }  

  label { 
    color: $challenge-primary-color; /*variable:challenge_primary_color*/
    font-weight: normal;
  }

  button {
    padding: 8px 15px 5px;
    margin-bottom: 20px;
  }

  select.form-select {
    border-radius: 0;
    -webkit-border-radius: 0px;
  }
}
