.page-taxonomy-term {
  
// Header Block  
  .full-width-top{
    @include bg-gradient-challenge('/profiles/collabco/themes/custom/collabco_theme/assets/img/background/triangle-bottom-right-cut.png', .9);
    @include content-top();
    background-position: top right, 0 0 , 0 40%;
    background-size: contain, auto, cover;
    padding: 50px;
    position: relative;
    overflow: hidden;
  }

  #block-views-challenge-page-header-block { position: static; }

  .corner-ribbon {
    background: $red;
    padding: 12px 6px 0 0;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: -42px;
    text-align: center;
    height: 42px;
    text-transform: uppercase;
    transform: rotate(-30deg);
    width: 200px;
    span { font-weight: bold; }
  }
  
  .sponsor {
    bottom: 20px;
    left: 28px;
    position: absolute;

    .user-picture { 
      display: inline-block;
      float: left;
      margin: 0;

      .img-responsive {
        height: 51px;
        width: 51px;
      }
    }

    .sponsor-name {
      display: inline-block;
      float: left;
      padding-left: 10px;
      text-align: left;

      span { 
        font-size: 10px; 
        text-transform: uppercase;
      }

      a {
        color: $white;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }

      }
    }
  }

  // Content Middle
  .content-middle { 
    @include bg-gradient-white-gray();
    
    h2.block-title {
      color: $purple;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: $border-dark;
      margin-bottom: 48px;
      padding-bottom: 16px;
    }

    .border-dark {
      min-height: 1px;
      border-bottom: $border-dark;
      margin-bottom: 48px;
    }
  }

  .taxonomy-term-description {
    margin-bottom: 20px;
    p { line-height: 21px; }
  }

.create-idea-btn {
  margin-bottom: 10px;

  p { color: $purple; margin-bottom: 10px; }

}

h2.comment-form { color:$purple-pink; }

.challenge-status {
  border-bottom: $border-dark;
  font-size: 13px;
  
  color: $gray-darker;
  span { 
    margin-right: 16px;  
    text-transform: capitalize;
  }
  margin-bottom: 37px;
}

// Breadcrumb
header.challenge-status {
  .breadcrumb-container {
    display: inline-block;

    @media #{$scrn-sm-min} { float: left; }

  }
  .status { 
    @media #{$scrn-sm-min} { float: right; }
  }
}

//Sidebar
.sidebar-2 h2 { color: $purple; }

}

//Recent ideas
.view-id-ideas_belonging_to_challenge {
  .recent-ideas {

    h2.block-title { 
      border-bottom: $border-dark;
      margin: 0 15px;
      padding: 16px 0;
      
      @media #{$scrn-sm-min} { 
        border: 0;
        margin: 0;
        padding: 46px 15px 0;
      }

    }

  }

  .view-filters {
    text-align: left;
    @media #{$scrn-sm-min} { 
      text-align: right;
    }
  }

}


//Filter form
#views-exposed-form-ideas-belonging-to-challenge-ideas-of-a-challenge {
  display: inline-block;

  @media #{$scrn-sm-min} {
    bottom: 16px;
  }  

  label { 
    color: $purple;
    font-weight: normal;
  }

  button {
    padding: 8px 15px 5px;
    margin-bottom: 20px;
  }

  select.form-select {
    border-radius: 0;
    -webkit-border-radius: 0px;
  }
}


.page-taxonomy-term .node-idea,
.page-taxonomy-term .node-idea + div { 
  display: none; 
}






