.page-user {

  &.not-logged-in {
    .nav-tabs > li{
      float: none;
      @media only screen and (min-width : $screen-sm) { float: left; }
    }

    .main-container { background-image: none; }

    input { max-width: 400px; }
  }

  // Header
  .content-top {
    @include bg-gradient-pink-orange('', '', .9);
    background-position: top right, 0 0 , 0 0;
    background-size: contain, auto ,auto;
    padding: 60px 0; 

    .user-picture .img-responsive {
      height: 64px;
      width: 64px;
    }
  } // </content-top>

  .main-container { @include bg-white-gray(); }

  //User profile picture
  .profile-picture {
    text-align: center;
    .user-picture { margin: 0; }
    .img-responsive {
      height: auto;
      width: 100%;
    }

    a {
      margin: 5px 0;
      text-decoration: none;
      color: $green-dark;
      font-size: 13px;
      display: inline-block;
    }  
      
    a:hover { text-decoration: underline; }
    a:before {
      position: relative;
      top: 2px;
      right: 5px;
      font-size: 18px;
    }
  }
  
  h2.block-title {
    color: $orange;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-bottom: -10px;
    padding-bottom: 16px;
    text-align: left;
  }

  .profile-other {

    h3 { 
      color: $orange; 
      font-size: 18px;
      padding: 18px 0;
      text-transform: uppercase;
      font-family: $lato;
      border-bottom: $border-dark;
    }

    .info > div, .bio > div {
      position: relative;
      background-color: $white;
      border-bottom: 3px solid $green-dark;
      margin: 17px;
    }
      
    .info > div  { height: auto; }
    .bio > div { min-height: 147px; }

    @media only screen and (min-width : $screen-sm) {
      .info, .bio { 
        padding-right: 0;
        padding-left: 0;
      }
    }
    
    .field-label {
      color: $gray;
      padding: 10px 0 0 24px;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
    }

    .field-items {
      padding: 10px 0 17px 24px;
      color: $gray-darker;
      line-height: 1;
    }

    //Key skills
    .field-name-field-key-skills { 
      .field-item { 
        display: inline-block;
        padding-right: 2px;
      }
      
      a { 
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }

  .view-your-contrib .card .img-icon {
    @include bg-gradient-blue-purple();
    color: $white;
  }




  //User Badges
  .user-badges { 
    text-align: center;
    margin-top: 20px;
    @media only screen and (min-width : $screen-md) { text-align: left; } 
  }

  .view-profile-badges {
    text-align: center;
    
    // @media only screen and (min-width : $screen-md) { text-align: left; } 

    .view-content { 
      overflow: hidden;
    }

    .views-row {
      display: inline-block;
      margin: 20px 0;
      padding: 10px;
    }
  }

  #idea_badges,
  #collab_badges {
    display: inline-block;
  }


  .badge {
    position: relative;
    height: 164px;
    width: 165px;
    color: $white;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;

    a {
      position: absolute;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      top: 85px;
      color: $white;
      text-transform: capitalize;
      font-family: $lato;
      font-size: 18px;
      line-height: 21px;
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }
  }

  .badge.winning-idea {
    background-image: url('../assets/img/background/achievement-badge-2.png');
  }

  .badge.converted-idea {
    background-image: url('../assets/img/background/achievement-badge-1.png');
  }

  .page-user.page-user-edit-account {
    .content-top { padding: 0; }
  }
}



