
@mixin bg-gradient-default() {
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
}

@mixin bg-gradient-green-blue($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(53, 145, 137, $op) 0%, rgba(30, 61, 107, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-white-gray() {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 25%, rgb(232, 232, 232) 100%);
}

@mixin bg-gradient-white-gray($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(to bottom, rgba(255, 255, 255, $op) 0%,rgba(255, 255, 255, $op) 25%, rgba(232, 232, 232, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-purple-pink($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(125, 23, 77, $op) 0%, rgba(192, 85, 210, $op) 100%) , url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-blue-purple($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(129, 61, 153, $op) 0%, rgba(117, 82, 129, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}

@mixin bg-gradient-pink-orange($img-pattern: '' , $img-bg: '', $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(242, 126, 131, $op) 0%, rgba(226, 119, 27, $op) 100%), url($img-bg);
  @include bg-gradient-default();
}





