/* === CUSTOM COLORS === */

// Base colors are defined on bootstrap's variables.

/*** GLOBAL ***/

$primary-color: #532762;
$secondary-color: #00746A;
$tertiary-color: #3B53A4;
$ribbon-color: #cf0058;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee
$gray-chromium: #ccc;

$brand-primary:         $primary-color;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #E78540;
$brand-danger:          #cf0058;


/*** MAIN NAVIGATION ***/

$nav-primary-color: #532762; 
$nav-secondary-color: #fff;
$nav-hover-color: #f3f3f3; 
$nav-badge-color: #cf0058;


/*** MAIN NAVIGATION MOBILE ***/

$nav-mobile-primary-color: #532762;
$nav-mobile-hover-color: #f3f3f3;

@mixin bg-gradient-nav-mobile($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(83, 39, 98, $op) 0%, rgba(77, 49, 155, $op) 100%);
  @include bg-gradient-default();
}

/*** COLLABORATION ***/

$collab-primary-color: #882263;
$collab-secondary-color: #00746A;

@mixin bg-gradient-collaboration($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(206, 45, 37, $op) 0%, rgba(178, 31, 79, $op) 100%);
  @include bg-gradient-default();
}

/*** CHALLENGE ***/

$challenge-primary-color: #4a3858;
$challenge-secondary-color: #fff;

@mixin bg-gradient-challenge($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(83, 39, 98, $op) 0%, rgba(77, 49, 155, $op) 100%);
  @include bg-gradient-default();
}

/*** IDEAS ***/

$idea-primary-color: #3B53A4;
$idea-secondary-color: #fff;

@mixin bg-gradient-ideas($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(59, 83, 164, $op) 0%, rgba(29, 121, 171, $op) 100%);
  @include bg-gradient-default();
}

/*** MY HUB ***/

$hub-primary-color: #e2771b;
$hub-secondary-color: #00746A;

@mixin bg-gradient-hub($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(206, 45, 37, $op) 0%, rgba(183, 134, 45, $op) 100%);
  @include bg-gradient-default();
}

/*** MY HUB SECONDARY NAV ***/

$hub-nav-primary-color: #532762;
$hub-nav-secondary-color: #3B53A4;

/*** CARDS UPDATES ***/
$card-updates-primary-color: #00746A;
$card-updates-secondary-color: #532762;
$card-updates-tertiary-color: #3B53A4;


//Default Colors

$primary-challenge: $primary-color;
$primary-idea: #3B53A4;
$secondary-hub-color: $tertiary-color;
$hover-bg-color: #f3f3f3;
$purple: $primary-color;
$purple-light: #654278;
$white-op-1: rgba(255, 255, 255, .1);
$pink: $secondary-color;

// Colors

$white: #fff;
$black: #000;
$green-light: #7bb8b2;
$blue: #1e3d6b;
$green-lime: #72bf44;
$green-dark: #00746a;
$orange: #e2771b;
$gray-plank: #a3a3a3;
$gray-comment: #f5f4f7;

//Gradient



