// Base colors are defined on bootstrap's variables.
// Here are custom colors

//GovIms Colors

$purple: #4a3858;
$purple-light: #654278;
$white-op-1: rgba(255, 255, 255, .1);

$white: #fff;
$black: #000;

$pink: #f27e83;

$orange: #e2771b;

$red: #cf0058;

$green-light: #7bb8b2;

$green-dark: #00746a;

$light-blue: #7bb8b2;

// $green-lime: $green-light;



// Colors

$blue: #1e3d6b;
$green-lime: #72bf44;
$green-dark: #00746a;
$green-dark-op-6: rgba(0, 116, 106, .6);
$orange: #e2771b;
$purple-op-9: rgba(109, 88, 174, .9); 
$purple-pink: #882263;

$red: #cf0058;

$gray-plank: #a3a3a3;
$gray-chromium: #ccc;
$gray-comment: #f5f4f7;







// $gray-base: #000;
// $gray-darker: #4a4a4a;
// $gray-dark: #757575;

// $gray: #d7d7d7;
// $gray-light: #f3f3f3;

// $gray-lighter: lighten($gray-base, 93.5%); 

// $green-dark-op-9: rgba(53, 145, 137, .9);


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         $purple;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         $orange;
$brand-danger:          $red;





