/* === CUSTOM COLORS === */

// Base colors are defined on bootstrap's variables.


/*** COLLABORATION ***/

$collab-primary-color: #882263;
$collab-secondary-color: #fff;

@mixin bg-gradient-collaboration($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(206, 45, 37, $op) 0%, rgba(178, 31, 79, $op) 100%);
  @include bg-gradient-default();
}



/*** CHALLENGE ***/

$challenge-primary-color: #4a3858;
$challenge-secondary-color: #fff;

@mixin bg-gradient-challenge($img-pattern: '' , $op: 1) {
  background-image: url($img-pattern), linear-gradient(135deg, rgba(83, 39, 98, $op) 0%, rgba(77, 49, 155, $op) 100%);
  @include bg-gradient-default();
}


//Default Colors

$primary-color: #532762;
$secondary-color: #00746A;
$tertiary-color: #3B53A4;



$primary-color-light: rgba(83, 39, 98, .8);

$hover-card: $secondary-color;
$hover-sidebar: $secondary-color;

$primary-challenge: $primary-color;
$primary-colab: rgb(206, 45, 37);
$primary-idea: #3B53A4;

$primary-hub-color: $primary-color;
$secondary-hub-color: $tertiary-color;

$nav-hover-color: #f3f3f3;

$hover-bg-color: #f3f3f3;

$purple: $primary-color;
$purple-light: #654278;
$white-op-1: rgba(255, 255, 255, .1);

$white: #fff;
$black: #000;

$pink: $secondary-color;

$orange: $tertiary-color;

$red: #cf0058;

$green-light: #7bb8b2;

$green-dark: #00746a;

$light-blue: #7bb8b2;

// $green-lime: $green-light;



// Colors

$blue: #1e3d6b;
$green-lime: #72bf44;
$green-dark: #00746a;
$green-dark-op-6: rgba(0, 116, 106, .6);
$orange: #e2771b;
$purple-op-9: rgba(109, 88, 174, .9); 
$purple-pink: #882263;

$red: #cf0058;

$gray-plank: #a3a3a3;
$gray-chromium: #ccc;
$gray-comment: #f5f4f7;







// $gray-base: #000;
// $gray-darker: #4a4a4a;
// $gray-dark: #757575;

// $gray: #d7d7d7;
// $gray-light: #f3f3f3;

// $gray-lighter: lighten($gray-base, 93.5%); 

// $green-dark-op-9: rgba(53, 145, 137, .9);


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         $primary-color;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #E78540;
$brand-danger:          #cf0058;





