html {
  font-size: $font-size-base;
}


body {
  font-size: pxtoem($font-size-base);
  color: $gray;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: pxtoem(20px);
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: underline;
  &:hover { text-decoration: none; }
}

.block-collabco-idea > h2, 
#block-collabco-idea-likes > h2 { 
  display: block; 
}

.main-container { padding: 30px 0; }

//PopOver 
.pop {
  position: relative;
  .popover {
    left: 20px !important;
    top: -32px !important;
    color: $gray-dark;
    border-radius: 0;
    width: 300px;
    .arrow { top: 50px !important; }
  }

  .popover-content {
    padding: 15px 10px; 
    text-align: center;
    min-height: 100px;
    p { 
      font-size: 14px;
      line-height: 20px;
      padding: 0;
    }
  }
}


//NAV TABS OVERRIDE DEFAULT
.nav-tabs {
  li { margin: 0; }

  li a { 
    border: 0;
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  li.active a {
    color: $secondary-color;
    background-color: $gray-lighter;

    &:hover,
    &:focus {
      background-color: $gray-lighter;
      color: $secondary-color;

    }
  }
}

//Color hover on cards/sidebar. This class is toggle by js (script.js).
.hover-color { color: $green-lime !important; }



//Limit max width to 970
@media (min-width: 1200px) {
  .container { width: 970px; }
}
