

h1, 
h2, 
h3 { 
  text-rendering: optimizeLegibility; 
}

h1,
h3 { 
  font-family: $univers47; 
}

h1 { font-size: 54px; }
h2 { 
  font-family: $univers57; 
  font-size: 36px;

  .title {
    color: $purple;
    font-family: $univers47;
    font-size: 30px;
    line-height: 38px;  
    margin: 0 0 40px;
  }    
}

h3 { font-size: 30px; }

.block-collabco-idea > h2, 
#block-collabco-idea-likes > h2 { 
  display: block; 
}

body {
  color: $gray-dark;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: underline;
  &:hover { text-decoration: none; }
}

.main-container {
  padding: 30px 0;
}

.separator {
  border-bottom: $border-dark;
  width: 100%;
}

.ui-datepicker {
  z-index: 9999 !important;
}

//Card Pagination
.pagination > .active > span,
.pagination > .active > span:hover  { 
  @include bg-gradient-blue-purple();
}  

.pagination > .active > span:hover { text-decoration: none; }

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination > li > a, 
.pagination > li > span,
.pagination > li > a:focus {
  border: 0;
  color: $purple;
}

.pagination > li > a, 
.pagination > li > span {
  &:hover {
    color: $purple;
    text-decoration: underline;
  }
}

//PopOver 
.pop {
  position: relative;
  .popover {
    left: 20px !important;
    top: -32px !important;
    color: $gray-dark;
    border-radius: 0;
    width: 300px;
    .arrow { top: 50px !important; }
  }

  .popover-content {
    padding: 15px 10px; 
    text-align: center;
    min-height: 100px;
    p { 
      font-size: 14px;
      line-height: 20px;
      padding: 0;
    }
  }
}

//BETA RIBBON

@media #{$scrn-md} {
  body:after{
    @include bg-gradient-green-blue();
    content: "beta";
    position: fixed;
    width: 140px;
    height: 29px;
    top: 17px;
    left: -42px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    line-height: 27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
}

//Stop scrolling from page
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

//Limit max width to 970
@media (min-width: 1200px) {
  .container { width: 970px; }
}
