#edit-search-block-form--2::placeholder,
#edit-search-block-form--2::-webkit-input-placeholder,
#edit-search-block-form--2::-moz-placeholder,
#edit-search-block-form--2::-ms-input-placeholder,
#edit-search-block-form--2:-ms-input-placeholder
 {
  color: #000;
  text-align: center;
}

#edit-search-block-form--2:hover::placeholder,
#edit-search-block-form--2:hover::-webkit-input-placeholder,
#edit-search-block-form--2:hover::-moz-placeholder,
#edit-search-block-form--2:hover::-ms-input-placeholder,
#edit-search-block-form--2:hover:-ms-input-placeholder,
#edit-search-block-form--2:focus::placeholder,
#edit-search-block-form--2:focus::-webkit-input-placeholder,
#edit-search-block-form--2:focus::-moz-placeholder,
#edit-search-block-form--2:focus::-ms-input-placeholder,
#edit-search-block-form--2:focus:-ms-input-placeholder {
  color: transparent;
}
