#admin-menu {
  .control-label { display: none; }

  a {
    text-transform: capitalize;
    font-family: $lato;
    font-weight: bold;
    font-size: 12px;
  }

  .admin-menu-icon { background-color: $white; }

  .dropdown a {
    // background-color: $black;
    padding: 10px 12px;
    color: $white;

    &:hover { 
      background: rgba(255, 255, 255, 0.1);
    }

  }

  .dropdown li li,
  .dropdown li li.expandable  { 
    opacity: 1;
    background-color: #3e454d;
  }

  .dropdown li > li.expandable {
    background: url(../assets/img/background/arrow.png) no-repeat 145px 6px; 
  }


  .dropdown li li a {
    border-top: none;
  }
}

#admin-menu #admin-menu-menu > li > ul { 
    margin-top: 10px;
    //border-radius: 50px;
  }

#admin-menu .dropdown li li.expandable ul {
  margin: -35px 0 0 165px;
}

#admin-menu-wrapper {
  border-bottom: 1px solid $white;
  background-color: #3e454d;
} 

