// Comments on collaborations, ideas and challenges

.comment-wrapper {

  .title { 
    border-bottom: 1px solid $gray-lighter;
    font-size: pxtoem(18px);
    line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 16px;
    text-transform: uppercase;
  }

}

.comment-user-picture,
.comment-user-name { 
  float: left;
}

.comment-user-submitted { 
  color: $gray-darker;
  float: right; 
  font-size: 13px;
  padding-top: 13px;
}

.comment-user-picture {
  text-align: center;
  width: 63px;

  .user-picture {
    margin-left: 0;

    .img-responsive {
      height: 48px;
      width: 48px;
    }
  }
}

//Comment body textarea
//Individual Collaborate color 
.node-type-hub .comment-body {
  color: $purple-pink;
}

.comment-body {
  background-color: $gray-comment;
  color: $purple;
  margin-bottom: 50px;
  padding: 32px 30px 30px;
  position: relative;
  border: $border-dark;

  .links { 
    padding: 10px 10px 0;
    text-align: right; 

    a {
      color: $blue;
      text-decoration: none;
    }  

    a:hover { text-decoration: underline; }
  }


  @media #{$scrn-sm-min} { 
    margin-left: 63px;
    max-width: 472px;
  }
}
//TOP - ARROW
.comment-body:before {
  border-bottom: 7px solid $gray-comment;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
  content: '';
  display: block; 
  height: 0;
  left: 15px;
  margin-left: auto;
  margin-right: auto; 
  position: absolute;
  top: -13px;
  width: 0;
}

.comment-user-name { 
  padding-top: 14px; 
}

.comment-user-name,
#edit-author--2 {
  a {
    color: $green-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.node-type-hub .comment-wrapper .title { color: $purple-pink; }
.node-type-idea .comment-wrapper .title { color: $purple; }

.comment-form {
  .control-label {
    font-weight: normal;
  }
  
  .panel-body {
    border: $border-dark;
    border-radius: 0;
  }
}

//Reply, Edit comment
.page-comment-edit,
.page-comment-reply,
.page-comment-delete {

  .comment-form,
  .comment-by-node-author {
    @media #{$scrn-sm-min} {
      margin: 0 auto; 
      max-width: 536px; 
    }
  }

  .main-container {
    padding: 20px 0;
    @media #{$scrn-sm-min} { padding: 30px; }
  }
}

//Remove post on comment pages
.page-comment-reply,
.page-comment {
  .form-wrapper + section {
    display: none;
  }
}

//Button delete
#edit-cancel {
  @include btn-white();
  text-decoration: none;
}



