header#navigation {
  background-color: transparent;
  border-top: 10px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  background-image: url(''), url('');
  background-position: -120px 0, top right;
  background-repeat: no-repeat no-repeat;
  background-size: auto, contain;

  .row {
    height: auto;

    @media (min-width : $screen-sm) {
      height: 110px;
    }
  }

  @media only screen and (min-width : $screen-md) {
     background-image: url(''), url('');
  }

  @media (min-width : $screen-sm) {
    background-image: none;
  }

  @media only screen and (min-width : $screen-sm) {
    #brand {
      text-align: center;

      img {
        margin: 30px 5px 0;
        max-width: 100%;
        height: auto;
      }
    }

  }
}




