header#navigation {
  background-color: transparent;
  border-top: 10px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  background-image: url(''), url('');
  background-position: -120px 0, top right;
  background-repeat: no-repeat no-repeat;
  background-size: auto, contain;

  .row { height: 110px; }

  @media #{$scrn-md-max} {
     background-image: url(''), url('');
  }
  
  @media #{$scrn-sm-max} {
    background-image: none;
  }

  @media #{$scrn-sm-min} {
    #brand {
      padding-top: 15px;
      text-align: center;
    }
  }   
}




