// Mobile Nav
@media #{$scrn-sm-max} {
  header#navigation {
    a { 
      color: $green-dark;
      text-decoration: none;
      &::hover { color: $blue; }
    }
  
    .row { height: 85px; }
  }
  
  #brand {  
    border: 0;
    height: auto;
    a { width: auto; }
    img { display: inline-block; }
  }  
  
  //Nav Hamburguer and Animation
  .nav-mobile {
    font-size: 20px; 
    padding: 25px 20px;
    text-align: left;
  }

  .search {
    height: 100%;
    padding: 25px 20px;
    text-align: right;
    text-transform: uppercase;

    a {
      color: $green-dark; 
      text-decoration: none; 
      &:hover { color: $blue; }
      &:before {
        font-size: 20px;
        position: relative;
      }
    }
  }  

  #slider { background-color: $white; }
}

/**
* NAV MOBILE
*
*
*
**/


nav.slider-mobile {
  position: fixed;
  background-color: $white;
  width: 250px;
  height: 100%;
  z-index: 9999;
  left: -250px;
  top: 0;
  overflow-y: scroll;
  
  .user-info {
    @include bg-gradient-green-blue();
    color: $white;
    // height: 160px;
    padding: 10px;

    a { 
      color: $white; 
      text-decoration: none;
    }

    #nav-mobile-close,
    .logout {
      display: inline-block;
    }

    .logout { font-size: 16px;}
  }

  .user-picture { 
    margin: 0;
    text-align: center;
    margin-bottom: 12px;

    img { 
      border: 2px solid $white;
      display: inline-block;
      width: 64px;

    }
  }

  .username {
    text-align: center;
    a { 
      font-size: 18px;

      &:before {
        position: relative;
        top: 2px;
        right: 3px;
      }
    }
  }
  

  ul.nav { 
    margin: 0;
    li { 
      display: block;
      border-bottom: $border-dark;
      &.active { background-color: $gray-light; }


      a { 
        color: $green-dark;
        display: inline-block;
        padding: 27px 21px 21px;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;

        &.active {
          color: $blue;
        }
      }
    }
  } // </.nav>


  footer { 
    padding: 10px 20px;
  }
  
  .copyright { 
    font-size: 11px; 
    margin: 22px 0 0;
  }

  .block-collabco-profile { padding: 0; }

}

//Add background to missing links

.page-myhub nav.slider-mobile li a[href="/myhub"],
.page-node-documents nav.slider-mobile li a[href="/collaborate"],
.page-node-discussions nav.slider-mobile li a[href="/collaborate"],
.node-type-conversation nav.slider-mobile li a[href="/collaborate"],
.node-type-knowledge-object nav.slider-mobile li a[href="/collaborate"],
.node-type-hub nav.slider-mobile li a[href="/collaborate"] {
  
  background-color: $gray-light;
}


.overlay {
  @include bg-gradient-green-blue('','',.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  opacity: 0;
}




