/* === MOBILE NAVIGATION AND HEADER=== */

/*** Site header ***/

@media only screen and (max-width : $screen-sm - 1) {
  header#navigation {
    a { 
      color: $nav-mobile-primary-color;
      text-decoration: none;
    }
  }
  
  #brand {  
    border: 0;
    height: auto;
    text-align: center;
    padding: 20px 0 0 0;
    
    a { width: auto; }
    img { display: inline-block; max-width: 100%; }

    h1 { 
      text-align: center;
      color: $nav-mobile-primary-color;
    }
  }  
  
  /** Nav Hamburguer Icon **/

  .nav-mobile {
    font-size: 20px; 
    padding: 25px 20px;
    text-align: left;
  }

  .search {
    height: 100%;
    padding: 25px 20px;
    text-align: right;
    text-transform: uppercase;

    a {
      color: $white; 
      text-decoration: none; 
      
      &:before {
        font-size: 20px;
        position: relative;
      }
    }
  }  

  #slider { background-color: $white; }
}

/*** Nav Mobile ***/

/** Top User Info **/
nav.slider-mobile {
  position: fixed;
  background-color: $white;
  width: 250px;
  height: 100%;
  z-index: 9999;
  left: -250px;
  top: 0;
  overflow-y: scroll;
  
  .user-info {
    @include bg-gradient-nav-mobile();
    color: $white;
    padding: 10px;

    a { 
      color: $white; 
      text-decoration: none;
    }

    .row { margin: 0; }

    #nav-mobile-close,
    .logout {
      display: inline-block;
    }

    #nav-mobile-close { 
      padding-left: 0;

      &:before { 
        position: relative;
        top: -2px;
      }
    }

    .logout { 
      padding-right: 0;
      font-size: 16px;
      text-align: right;
    }
  }

  .user-picture { 
    margin: 0;
    text-align: center;
    margin-bottom: 12px;

    img { 
      border: 2px solid $white;
      display: inline-block;
      width: 64px;

    }
  }

  .username {
    text-align: center;
    a { 
      font-size: 18px;

      &:before {
        position: relative;
        top: 2px;
        right: 3px;
      }
    }
  }
  
  /** Nav Item List **/

  ul.nav { 
    margin: 0;

    li { 
      display: block;
      border-bottom: $border-dark;
      &.active { background-color: $nav-mobile-hover-color; }

      a { 
        color: $nav-mobile-primary-color;
        display: inline-block;
        padding: 27px 21px 21px;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;

        }
    }
  
  }

  /** Nav Footer **/
  footer { 
    padding: 10px 20px;
    
    h2 { color: $nav-mobile-primary-color; }
  }
  
  .mobile-logo { width: 100%; }

  .copyright { 
    font-size: 11px; 
    margin: 0;
  }

  .block-collabco-profile { padding: 0; }

}

/** Add Background to missing links **/

.page-myhub nav.slider-mobile li a[href="/myhub"],
.page-node-documents nav.slider-mobile li a[href="/collaborate"],
.page-node-discussions nav.slider-mobile li a[href="/collaborate"],
.node-type-conversation nav.slider-mobile li a[href="/collaborate"],
.node-type-knowledge-object nav.slider-mobile li a[href="/collaborate"],
.node-type-hub nav.slider-mobile li a[href="/collaborate"] {
  
  background-color: $nav-mobile-hover-color;
}

/** Background Overlay activate when nav mobile is active **/

.overlay {
  @include bg-gradient-nav-mobile('',.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  opacity: 0;
}
