//
//My Hubs, Profile and Collaborate secondary Nav
//

// Links on My Hub Page
#block-collabco-myhubs-myhub-links .nav,
#quicktabs-my_hub_collaborations .quicktabs-tabs, 
#block-quicktabs-my-hub-ideas .quicktabs-tabs,
.collaboration-tabs .nav {
  border-bottom: 0;
  margin-top: 30px;

  @media #{$scrn-md-min} {  margin: 0; }

  li { 
    height: 72px;
    text-align: center; 
    width: 25%;

    @media #{$scrn-md-min} { width: auto; } 

    &:last-child { border-right: $border-dark; }

    a { 
      border: $border-dark;
      border-bottom-color: $primary-color;
      border-radius: 0;
      border-width: 1px 0 3px 1px;
      color: $primary-color;
      font-size: 12px;
      height: 100%;
      margin-right: 0;
      position: relative;
      text-decoration: none; 
      text-transform: uppercase;
      transition: all ease .3s;
      padding: 41px 0 12px; 

      @media #{$scrn-sm-min} { padding: 41px 20px 12px; }
    }
    
    a:before {
      font-family: 'outlined-iconset';
      font-style: normal !important;
      font-size: 20px;
      font-variant: normal !important;
      font-weight: normal !important;
      left: 0;
      line-height: 1;
      margin: 0 auto; 
      position: absolute;
      right: 0;
      top: 14px;
      speak: none;
      text-transform: none !important;
    }
  }
}  


#block-collabco-myhubs-myhub-links .nav,
.collaboration-tabs .nav {

  li a:hover,
  li a.active {
    border-width: 1px 0 3px 1px;
    border-bottom-color: $secondary-hub-color;
    color: $secondary-hub-color;
  }
}

.collaboration-tabs .nav li { 
  width: (100%/3);
  @media #{$scrn-sm-min} { width: auto; } 
}


#block-collabco-myhubs-myhub-links .nav,
.collaboration-tabs .nav {
  li.active a,
  li a.active:hover,
  li a:active {
    // border-width: 1px 0 0 1px;
    // border-bottom: $border-blue;
    // border-bottom-width: 3px;
    // color: $pink;
  }
}

// My hub icons
#block-collabco-myhubs-myhub-links .nav, 
#block-quicktabs-my-hub-ideas .quicktabs-tabs { 

  li.ui-menu-myhub-updates a:before { content: '\e07c'; }
  li.ui-menu-myhub-ideas a:before { content: '\e068'; }
  li.ui-menu-myhub-collaboration a:before { content: '\e095'; }
  li.ui-menu-myhub-profile a:before { content: '\e06c'; }
}

// Collaborate icons
.collaboration-tabs {

  li.ui-menu-collaboration-info a:before{ content: '\e064';  }
  li.ui-menu-collaboration-discussion a:before{ content: '\e029';  }
  li.ui-menu-collaboration-documents a:before{ content: '\e036';  }
}
   

// TWEAKS for PROFILE page
.page-user #block-collabco-myhubs-myhub-links.profile-menu {
  li.ui-menu-myhub-profile a {
    // border-bottom: $border-blue;
    // border-bottom-width: 3px;
    // color: $blue;
  }
}  

//Secondary links
#quicktabs-my_hub_collaborations .quicktabs-tabs,
#block-quicktabs-my-hub-ideas .quicktabs-tabs {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;


  li a {
    border: 0;
    display: inline-block;
    color: $primary-hub-color;
    font-size: 12px;
    padding: 30px 10px 4px;
  }

  a:hover, 
  li.active a {
    color: $secondary-hub-color;   
  }

  li.active a {
    border-bottom: 3px solid $secondary-hub-color;
  }   

  li a:before {
    font-size: 15px;
    top: -5;
  }

  a#quicktabs-tab-my_hub_collaborations-0:before,
  a#quicktabs-tab-my_hub_ideas-0:before {
    content: '\e02d';
  }
  
  a#quicktabs-tab-my_hub_collaborations-1:before,
  a#quicktabs-tab-my_hub_ideas-1:before {
    content: '\e03f';
    font-size: 20px;
    top: 9px;
  }

  a#quicktabs-tab-my_hub_collaborations-2:before,
  a#quicktabs-tab-my_hub_ideas-2:before {
    content: '\e035';
  }

}  

#block-collabco-myhubs-myhub-links {
  margin: 10px 0;

  @media #{$scrn-md-min} { 
    .nav { float: right; } 
  } 
} 

