//
//MAIN HEADER & NAV
//

//Navigation

.primary-nav, 
.secondary-nav { 
  height: 100%; 
}

.primary-nav > ul {
  height: 100%;
  width: 100%;
}

.primary-nav li {
  height: 100%;
  text-align: center;
  width: 25%;

  a {
    color: $white;
    display: block;
    height: 100%;
    padding: 60px 0 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.active,
    &:focus {
      background-color: $white-op-1;
    }

    &.active {
      border-bottom: $white;
      border-bottom-width: 3px;
      border-bottom-style: solid;
    }
  }
}

.page-myhub .primary-nav li a[href="/myhub"],
.page-node-documents .primary-nav li a[href="/collaborate"],
.page-node-discussions .primary-nav li a[href="/collaborate"],
.node-type-conversation .primary-nav li a[href="/collaborate"],
.node-type-knowledge-object .primary-nav li a[href="/collaborate"],
.node-type-hub .primary-nav li a[href="/collaborate"]
{
  // background-color: $gray-light;
  // color: $blue;
  // border-bottom: $border-dark;
  // border-bottom-width: 3px;
}


.primary-nav li a:hover:after {
  bottom: 0;
}

//Arrow color
.front {
  .primary-nav li a.active:after,
  .primary-nav li a:hover:after {
    border-bottom: 7px solid $white;
  }
}

.primary-nav li:first-child {
  width: 20%;
}

.primary-nav li:last-child {
  width: 30%;
}


//Secondary Navigation

.secondary-nav {
  
  height: 100%;
  text-align: center;
  background-color: $white-op-1;

  a { 
    color: $white;
    text-decoration: none;

    &:hover { 
      text-decoration: underline;
    }
  }
  

  //Search form
  .search {
    height: 50%;
    overflow: hidden;

    .input-group { 
      display: block; 
      position: relative;
    }

    .form-control { 
      background-color: transparent;
      
    }

    .input-group-btn { display: none; }
  }
  
  #edit-search-block-form--2 { 
    border: 1px solid $white;
    background-position: 44px 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: $white;
    height: 50%; 

    @media #{$scrn-md-min} { background-position: 70px 18px; }

    &::placeholder {
      color: $white;
      text-align: center;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: transparent;
    }
    
    &:hover,
    &:focus {
      background-image: none;
    }
  }

  .nav-actions { 
    height: 50%; 
    text-transform: capitalize;
    a { cursor: pointer; }
  }

//User profile Dropdown
  .user-nav {
    padding: 0;
    background: $purple;

    a {
      color: $white;
    }  
    
    a:hover {
      background-color: $white-op-1;
      color: $white;
    }

    a::before {
      font-size: 16px;
      padding: 0 5px 0 2px;
      position: relative;
      top: 2px;
    }
  } // </.user-nav>
} // </.secondary-nav>


.region-nav-actions { height: 100%; }

.block-collabco-profile {
  height: 100%;
  padding: 12px 0;
}

#nav-profile-dropdown {
  display: inline-block;
  > div { float: left; }
}

#navigation-profile-details {
  top: 3px;
}

.user-picture { 
  
  .img-responsive {
    border-radius: 50%;
    width: 25px;
  }  
}

.not-logged-in {
  .secondary-nav { background-color: transparent; }
  .nav-login {
    margin-top: 40px;
    a:hover { color: $white; }
  }
}

.alert-badge {
    position: absolute;
    margin-top: -460px;
    margin-left: 193px;
    background: radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -moz-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -ms-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -o-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -webkit-radial-gradient( center -9px, circle, white 0, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 13px Helvetica, Verdana, Tahoma;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    width: 25px;
}

