
// Sidebar 1 and Sidebar 2
.sidebar-1,
.sidebar-2 {

  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width : $screen-sm) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

//Main Sidebar
.sidebar-2 {

  @media only screen and (min-width : $screen-sm) {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .region-sidebar-second {
    background-color: $gray-lighter;
    border: $border-dark;
    padding: 35px 25px;
  }

  h2 {
    border-bottom: 1px solid $gray-chromium;
    display: block;
    font-size: 18px;
    margin-top: 15px;
    padding-bottom: 7px;
    text-transform: uppercase;
  }

  .sidebar-stats { display: block; }

  //navtabs links sidebar
  .nav-tabs { border-bottom: 0; }

  .nav-tabs li {
    margin:  0 0 10px;
    width: 100%;

   &.last {
      margin-bottom: 0;
    }

    a {
      color: $gray-dark;
      padding: 0;

      &:hover {
        background: none;
        color: $secondary-color;
      }
    }
  }

  // Promote to collaboration block on idae single page and co-lab links
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $secondary-color;
    }
  }

  .nav > li > a:focus { background-color: transparent; }

  .nav-tabs li,
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a,
  .item {
    padding: 13px 12px 9px;
  }

  .stat,
  .nav-tabs li,
  #block-collabco-idea-promote a,
  #block-collabco-idea-collaborations a,
  .item {
    background-color: $white;
    border: 1px solid $gray-plank;
    color: $gray-dark;
    font-size: 13px;
    text-transform: uppercase;
  }

  .stat {
    margin: 10px 0;

    > div {
      display: block;
      float: left;
      height: 100%;
    }

    .value {
      border-right: 1px solid $gray-plank;
      padding: 12px 0;
      text-align: center;
      width: 20%;
    }

    &.share .stat-label,
    &.mail .stat-label { width: 100%; }

    a {
      color: $gray-dark;
      text-decoration: none;

      &:hover {
        color: $secondary-color;
        text-decoration: underline;
      }
    }

    .stat-label > a,
    > a {
      display: inline;
    }

    .stat-label {
      padding: 12px 12px 8px;
      width: 80%;

      .flag-wrapper, p {
        display: inline;
        float: left;
        margin: 0;
      }

      .flagged,
      .unflag-action {
        color: $secondary-color;
      }

      a[class^="icon-"],
      a[class*=" icon-"] {
        position: relative;
        top: 0px;
        float: right;
        font-size: 18px;
        padding: 0;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }

        &.icon-full {
          color: $secondary-color;
        }
      }
    }

  } // </.stat>


  .stat-label,
  .nav-tabs li {
    cursor: pointer;
  }


  .team {
    margin-bottom: 10px;

    .user-picture {
      display: inline-block;

      .img-responsive {
        display: inline-block;
        height: 48px;
        width: 48px;
      }
    }

    .username {
      color: $green-dark;
      margin-left: 15px;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
    }
  } // </.team>

  .add-team-member a {
    display: inline-block;
    width: 100%;
  }

  #block-collabco-idea-collaborations {
    .view-header {
      text-align: left;
      padding: 0;
    }
  }

  //Team on collaboration
  .view-team-belonging-to-collaboration .views-row {
    margin: 15px 0;
  }


} //</sidebar-2>


//Sidebar top
#block-collabco-idea-promote,
#block-collabco-collaboration-edit-collaboration {
  .btn-actions {
    list-style-type: none;
    display: block;

    li {
      margin-top: 10px;
      text-align: left;
    }

    li:first-child { margin-top: 0; }

    a { width: 100%; }

    a:before {
     position: relative;
     margin-right: 10px;
     top: 2px;
    }

    a.icon-beaker:before {
      font-size: 18px;
      margin-right: 6px;
      right: 2px;
      top: 2px;
    }

  }

}

